.btn {
  padding: 4px 15px;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  background: #4c53c0;
  border-radius: 3px;
  border: 0 solid #7880f3;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  &--primary {
    font-size: 13px;
    font-weight: $bold;
    background: #333589;
    box-shadow: 0 7px 15px -4px rgba(0, 0, 0, 0.3),
      0 12px 20px -16px rgba(158, 117, 255, 0.15);
    color: #b2e7f4;
    text-align: center;
  }
  &--secondary {
    background: #55c77c;
    box-shadow: 0 7px 9px -4px rgba(85, 199, 124, 0.62);
    border-radius: 3px;
    font-weight: bold;
  }
  &--round {
    width: 100%;
    font-family: "Bebas Neue";
    font-size: 21px;
    color: #ffffff;
    text-align: center;
    padding: 8px 16px;
    background: #525cd7;
    border-radius: 21px;
    transition: all 0.3s ease-in;
  }
  &--round-sm {
    font-size: 16px;
    padding: 6px 16px;
  }
}
