.btn {
  padding: 4px 15px;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  background: #4c53c0;
  border-radius: 3px;
  border: 0 solid #7880f3;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}
