body {
  transform: translate3d(0px, 0px, 0px);
  transition: all 700ms ease;
}

.landing-page {
  background: #edf1f4;
}
@media only screen and (max-width: 600px) {
  .landing-page {
    top: 0 !important;
  }
}
.landing-page .slide {
  height: 100vh;
}
.landing-page .circle-mask {
  width: 100vw;
  height: 105vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 600px) {
  .landing-page h1 {
    font-size: 40px !important;
    line-height: 40px !important;
  }
  .landing-page p {
    font-size: 16px !important;
    line-height: 24px !important;
  }
}
.landing-page .circle {
  height: 300vh;
  width: 300vh;
  border-radius: 150vh;
  border: 10vw solid #fb285e;
  position: absolute;
  bottom: 0vh;
  left: -14vw;
}
@media only screen and (max-width: 768px) {
  .landing-page .circle {
    border-width: 20vw;
    border-radius: 110vh;
  }
}
.landing-page .combo-search-bar {
  box-shadow: 0 14px 35px 0 rgba(47, 39, 110, 0.63);
  display: flex;
  overflow: hidden;
  width: 35vw;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .landing-page .combo-search-bar {
    width: 100%;
  }
}
.landing-page .combo-search-bar input {
  height: calc(30px + 1.3vw);
  padding: 0 20px;
  border: 0;
  flex-basis: calc(100% - 4vw);
  font-size: 14px;
  border-radius: 6px 0 0 6px;
}
.landing-page .combo-search-bar input::placeholder {
  color: #2f276e;
}
@media only screen and (max-width: 768px) {
  .landing-page .combo-search-bar input {
    flex-basis: calc(100% - 50px);
    width: calc(100% - 50px);
    padding: 20px;
    height: 50px;
  }
}
.landing-page .combo-search-bar button {
  width: 60px;
  background-color: #525cd7;
  border: 0;
  border-radius: 0 6px 6px 0;
}
@media only screen and (max-width: 768px) {
  .landing-page .combo-search-bar button {
    width: 50px;
    min-width: 50px;
  }
}
.landing-page .button {
  width: 150px;
  height: 45px;
  font-family: "Bebas Neue";
  font-size: 19px;
  color: #ffffff;
  text-align: center;
  line-height: 24px;
  border-radius: 4px;
}
.landing-page .button--login {
  border: 1px solid #ffffff;
}
.landing-page .button--register {
  background: #fb285e;
  box-shadow: 0 20px 20px -10px rgba(255, 132, 163, 0.25);
}
@media only screen and (max-width: 600px) {
  .landing-page .button {
    width: 120px;
    height: 40px;
  }
}
.landing-page .hero {
  width: 100vw;
  background: #2f276e url(../../assets/img/landing-page/hero-main-bg.png) right top no-repeat;
  padding: 10vh;
  min-height: 600px;
  position: relative;
}
.landing-page .hero .top-nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 20px 30px;
}
@media only screen and (max-width: 768px) {
  .landing-page .hero .top-nav {
    padding: 20px 5vh;
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .landing-page .hero .combo-search-bar {
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: -35px;
    margin: 15px auto !important;
    box-shadow: 0 14px 35px 0 rgba(47, 39, 110, 0.63);
  }
}
.landing-page .hero .learn-to-play {
  display: inline-block;
  font-family: "Bebas Neue";
  font-size: 22px;
  color: #a4d5e5;
  text-align: center;
  font-weight: normal;
  margin-top: 15px;
}
@media only screen and (max-width: 768px) {
  .landing-page .hero .learn-to-play {
    margin-bottom: 10px;
    font-size: 16px;
  }
}
.landing-page .hero-title {
  font-size: 1.5vw;
  font-weight: bold;
  color: #8194c3;
  line-height: 34px;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .landing-page .hero-title {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .landing-page .hero {
    padding: 5vh;
  }
}
.landing-page .hero-card {
  position: relative;
  height: 77vh;
  margin: 0 auto;
  z-index: 1;
  margin-top: 3vh;
  border-radius: 15px;
  background: #3e3583 url(../../assets/img/signup/signup-bg-2.svg) left 0 top/cover no-repeat;
  box-shadow: 0 8px 59px 26px rgba(0, 0, 0, 0.15);
}
.landing-page .hero-card::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../../assets/img/landing-page/hero-card-number-bg.png) right top no-repeat;
}
.landing-page .hero-card .left,
.landing-page .hero-card .right {
  flex-basis: 50%;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .landing-page .hero-card .left,
.landing-page .hero-card .right {
    flex-basis: 100%;
  }
}
.landing-page .hero-card .right img {
  height: 85vh;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .landing-page .hero-card .right img {
    height: 40vh;
  }
}
.landing-page .hero-card .left img {
  width: 30vh;
}
@media only screen and (max-width: 768px) {
  .landing-page .hero-card .left img {
    width: 20vh;
    margin-bottom: 10px !important;
  }
}
.landing-page .hero-card .left .content {
  margin-top: -30px;
}
@media only screen and (max-width: 768px) {
  .landing-page .hero-card .left .content {
    margin-top: 0;
    width: 90%;
  }
}
.landing-page .hero-card .left p {
  font-family: "Bebas Neue";
  font-size: 2.6vw;
  color: #ffffff;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .landing-page .hero-card .left p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .landing-page .hero-card {
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 6vh;
  }
}
@media only screen and (max-width: 600px) {
  .landing-page .hero-card {
    flex-wrap: wrap;
    padding: 15px;
    margin-top: 6vh;
    background: #3e3583;
  }
}
.landing-page .hero .scroll-down {
  font-family: "Bebas Neue";
  opacity: 0.6;
  color: white;
  transform: rotate(-90deg);
  position: absolute;
  z-index: 2;
  left: 0px;
  bottom: 80px;
  cursor: pointer;
}
.landing-page .hero .scroll-down svg {
  margin-right: 20px;
}
.landing-page .hero .scroll-down label {
  font-family: "Bebas Neue";
  font-size: 16px;
  color: #7a8abb;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .landing-page .hero .scroll-down label {
    display: none;
  }
}
.landing-page .zig-zag {
  display: flex;
}
.landing-page .zig-zag .content {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landing-page .zig-zag .content .content-wrapper {
  max-width: 25vw;
}
.landing-page .zig-zag .image {
  flex-basis: 55%;
}
@media only screen and (max-width: 768px) {
  .landing-page .zig-zag {
    height: 60vh;
  }
  .landing-page .zig-zag .base {
    height: 60vh;
  }
}
@media only screen and (max-width: 600px) {
  .landing-page .zig-zag {
    flex-wrap: wrap;
    height: auto;
    min-height: 100vh;
  }
  .landing-page .zig-zag .content,
.landing-page .zig-zag .image {
    flex-basis: 100%;
  }
  .landing-page .zig-zag .content {
    padding: 30px;
    padding-bottom: 0;
  }
  .landing-page .zig-zag .content .content-wrapper {
    max-width: 90% !important;
  }
  .landing-page .zig-zag .content .content-wrapper .content-text {
    font-size: 18px;
  }
  .landing-page .zig-zag .content .content-wrapper .leagues img {
    width: 30px;
    margin-right: 20px;
  }
  .landing-page .zig-zag .image .flip-card img {
    width: 25vw;
  }
}
.landing-page .base {
  height: 100vh;
  width: 100%;
  background: url("/src/assets/img/landing-page/map.svg") right -50px center/contain no-repeat;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .landing-page .base {
    background-size: 110%;
  }
}
.landing-page .leagues a img {
  width: 3.3vw;
  margin-right: 2vw;
}
.landing-page .player-geo-card {
  width: 10vw;
  position: absolute;
  perspective: 1000px;
}
.landing-page .player-geo-card .flip-card {
  transition: all 1s ease;
  transform-style: preserve-3d;
}
@media only screen and (max-width: 600px) {
  .landing-page .player-geo-card .flip-card {
    min-width: 25vw;
    min-height: 20vw;
  }
}
.landing-page .player-geo-card.active .flip-card {
  transform: rotateY(180deg);
}
.landing-page .player-geo-card img {
  width: 10vw;
}
.landing-page .player-geo-card .flip-card-front,
.landing-page .player-geo-card .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.landing-page .player-geo-card .flip-card-back {
  transform: rotateY(180deg);
}
.landing-page .player-geo-card.top {
  top: 18%;
  left: 25%;
}
@media only screen and (max-width: 1100px) {
  .landing-page .player-geo-card.top {
    top: 25%;
  }
}
@media only screen and (max-width: 600px) {
  .landing-page .player-geo-card.top {
    top: 10%;
    left: 25%;
  }
}
.landing-page .player-geo-card.middle {
  top: 35%;
  left: 50%;
}
@media only screen and (max-width: 600px) {
  .landing-page .player-geo-card.middle {
    top: 25%;
    left: 55%;
  }
}
.landing-page .player-geo-card.bottom-left {
  top: 45%;
  left: 15%;
}
@media only screen and (max-width: 600px) {
  .landing-page .player-geo-card.bottom-left {
    top: 50%;
    left: 10%;
  }
}
.landing-page .player-geo-card.bottom-right {
  top: 63%;
  left: 65%;
}
@media only screen and (max-width: 1100px) {
  .landing-page .player-geo-card.bottom-right {
    top: 55%;
  }
}
@media only screen and (max-width: 600px) {
  .landing-page .player-geo-card.bottom-right {
    top: 60%;
    left: 70%;
  }
}
.landing-page h1 {
  font-size: 4.5vw;
  line-height: 4.7vw;
  margin-top: 0;
  font-family: "Bebas Neue";
  font-weight: normal;
  color: #151515;
}
.landing-page h1 .primary {
  color: #525cd7;
  font-family: "Bebas Neue";
}
.landing-page .line {
  width: 120px;
  height: 5px;
  background: #525cd7;
  margin: 2vh 0;
  border-radius: 2px;
}
.landing-page .content-text {
  font-size: calc(5px + 1.3vw);
  color: #151515;
}
.landing-page .m-auto {
  margin: 0 auto;
}
.landing-page .pages {
  min-height: 100vh;
  width: 100vw;
}
@media only screen and (max-width: 768px) {
  .landing-page .pages {
    height: auto !important;
    min-height: 80vh;
  }
}
@media only screen and (max-width: 600px) {
  .landing-page .pages {
    height: auto !important;
  }
}
.landing-page .pages .page-slider {
  position: relative;
  height: 100vh;
  width: 100vw;
}
@media only screen and (max-width: 768px) {
  .landing-page .pages .page-slider {
    height: 60vh;
    min-height: 50vh;
    overflow: hidden;
  }
  .landing-page .pages .page-slider img {
    width: auto !important;
    height: 60vh;
    margin-top: 0 !important;
  }
}
.landing-page .pages .circle-mask {
  height: 100vh;
}
.landing-page .pages .circle {
  bottom: initial;
  left: -35vw;
}
@media only screen and (max-width: 768px) {
  .landing-page .pages .circle {
    height: 200vh;
    width: 200vh;
  }
}
@media only screen and (max-width: 600px) {
  .landing-page .pages .circle {
    height: 130vh;
    width: 130vh;
  }
}
.landing-page .pages img {
  margin-top: 30px;
  width: 75vw;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 768px) {
  .landing-page .pages img:not(:first-child) {
    display: none;
  }
}
@media (min-width: 768px) {
  .landing-page .pages img {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
  .landing-page .pages img.active {
    animation: slide-in 2s forwards;
  }
  .landing-page .pages img.de-active {
    animation: slide-out 2s forwards;
  }
}
.landing-page .real-analysis {
  margin-top: 5vw;
  width: 100vw;
}
.landing-page .real-analysis .image {
  width: 50vw;
  background: url(/src/assets/img/animation/real-analysis-bg.svg) left bottom no-repeat;
  background-size: 65%;
}
.landing-page .real-analysis .image img {
  height: 55vw;
}
.landing-page .real-analysis .right {
  width: 50vw;
}
.landing-page .real-analysis .right .content-wrapper {
  width: 60%;
}
.landing-page .real-analysis .right .content-wrapper .key {
  margin-top: 10px;
  font-size: calc(5px + 0.9vw);
  color: #151515;
}
.landing-page .real-analysis .right .content-wrapper .features-wrap {
  flex-wrap: wrap;
}
.landing-page .real-analysis .right .content-wrapper .feature {
  flex-basis: 50%;
  width: 50%;
  margin-top: 30px;
}
@media only screen and (max-width: 768px) {
  .landing-page .real-analysis {
    height: 60vh;
  }
  .landing-page .real-analysis .image {
    width: 40vw;
  }
  .landing-page .real-analysis .right {
    width: 60vw;
  }
  .landing-page .real-analysis .right .content-wrapper {
    width: 80%;
    margin-left: 60px !important;
  }
}
@media only screen and (max-width: 600px) {
  .landing-page .real-analysis {
    min-height: 100vh;
    height: auto;
    flex-wrap: wrap;
  }
  .landing-page .real-analysis .image,
.landing-page .real-analysis .right {
    width: 100%;
    background: transparent;
  }
  .landing-page .real-analysis .image {
    order: 2;
  }
  .landing-page .real-analysis .image img {
    width: 100%;
    height: auto;
  }
  .landing-page .real-analysis .right {
    order: 1;
    padding: 30px;
  }
  .landing-page .real-analysis .right .content-wrapper {
    width: 100%;
    margin-left: 0 !important;
  }
  .landing-page .real-analysis .right .content-wrapper .feature img {
    width: 32px;
  }
  .landing-page .real-analysis .right .content-wrapper .key {
    font-size: 13px !important;
  }
}
.landing-page .compare-players {
  background: #2f276e;
  width: 100vw;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .landing-page .compare-players {
    overflow: hidden;
  }
  .landing-page .compare-players .left,
.landing-page .compare-players .right {
    height: auto;
  }
}
.landing-page .compare-players .player-pickers {
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .landing-page .compare-players .player-pickers {
    display: flex;
  }
}
.landing-page .compare-players .player-list {
  width: 4.3vw;
  height: 4.3vw;
  border-radius: 50%;
  background: white;
  opacity: 0.3;
  cursor: pointer;
  margin-bottom: 1vw;
  border: 0.3vw solid transparent;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 768px) {
  .landing-page .compare-players .player-list {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border: 3px solid transparent;
  }
}
.landing-page .compare-players .player-list.active {
  opacity: 1;
  border-color: #525cd7;
}
.landing-page .compare-players .player-list img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.landing-page .compare-players .player-image {
  height: 45vw;
  position: absolute;
  left: 15%;
  top: 6%;
  transform: scale(0);
  transition: all 0.5s ease;
}
.landing-page .compare-players .player-image.heung {
  left: 12%;
}
@media only screen and (max-width: 768px) {
  .landing-page .compare-players .player-image {
    left: -30%;
    top: 20%;
    height: 60vh;
  }
  .landing-page .compare-players .player-image.heung {
    left: -40%;
  }
}
.landing-page .compare-players .player-image.active {
  transform: scale(1);
}
.landing-page .compare-players .player-info {
  width: 50%;
  position: absolute;
  top: 10%;
  right: 10%;
  text-align: right;
  display: none;
}
@media only screen and (max-width: 768px) {
  .landing-page .compare-players .player-info {
    width: 70%;
  }
}
.landing-page .compare-players .player-info.active {
  display: block;
}
.landing-page .compare-players .player-name {
  font-family: "Bebas Neue";
  font-size: 3.8vw;
  line-height: 3.4vw;
  color: #ffffff;
  letter-spacing: 0;
}
@media only screen and (max-width: 768px) {
  .landing-page .compare-players .player-name {
    font-size: 25px !important;
    line-height: 25px;
  }
}
.landing-page .compare-players .player-name.active {
  display: block;
}
.landing-page .compare-players .player-position {
  font-size: 1.1vw;
  font-weight: bold;
  color: #a4d4e8;
}
@media only screen and (max-width: 768px) {
  .landing-page .compare-players .player-position {
    margin-bottom: 10px !important;
  }
}
.landing-page .compare-players .player-team, .landing-page .compare-players .player-rank {
  justify-content: flex-end;
}
@media only screen and (max-width: 768px) {
  .landing-page .compare-players .player-team {
    margin-bottom: 10px;
  }
}
.landing-page .compare-players .player-team img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 12px;
}
.landing-page .compare-players .player-team .team-name {
  font-size: 1.4vw;
  font-weight: bold;
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .landing-page .compare-players .player-team .team-name {
    display: none;
  }
}
.landing-page .compare-players .player-rank {
  align-items: baseline;
}
.landing-page .compare-players .player-rank p {
  font-family: "Bebas Neue";
  font-size: 2.9vw;
  line-height: 11vw;
  color: #24bfa8;
  text-shadow: 0 9px 10px rgba(0, 0, 0, 0.4);
  margin-left: 5px;
}
.landing-page .compare-players .player-rank .rank {
  font-size: 9.7vw;
}
@media only screen and (max-width: 768px) {
  .landing-page .compare-players .player-rank p {
    font-size: 20px !important;
    line-height: 20px !important;
  }
  .landing-page .compare-players .player-rank .rank {
    font-size: 65px !important;
    line-height: 65px !important;
  }
}
.landing-page .compare-players .ranking-value {
  position: absolute;
  bottom: 2%;
  left: 10%;
  text-align: center;
}
.landing-page .compare-players .ranking-value div {
  margin-right: 3vw;
}
.landing-page .compare-players .ranking-value .label {
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.56);
  text-transform: uppercase;
}
.landing-page .compare-players .ranking-value .value {
  font-family: "Bebas Neue";
  font-size: 34px;
  color: #ffffff;
}
.landing-page .compare-players .ranking-value .value span {
  font-family: "Bebas Neue";
  font-size: 19px;
}
@media only screen and (max-width: 768px) {
  .landing-page .compare-players .ranking-value {
    display: block;
    bottom: 1%;
  }
  .landing-page .compare-players .ranking-value .value {
    font-size: 21px !important;
    line-height: 42.84px;
  }
  .landing-page .compare-players .ranking-value .value span {
    font-size: 12px !important;
  }
}
.landing-page .compare-players .left,
.landing-page .compare-players .right {
  width: 50vw;
  height: 100vh;
  flex-basis: 50vw;
  position: relative;
}
.landing-page .compare-players .left {
  background: url(/src/assets/img/animation/comparison-left.svg) left center/cover no-repeat;
}
@media only screen and (max-width: 768px) {
  .landing-page .compare-players .left {
    background: url(/src/assets/img/animation/compare-left-bg-mobile.svg) left center/cover no-repeat;
  }
}
.landing-page .compare-players .right {
  background: url(/src/assets/img/animation/comparison-right.svg) right center/cover no-repeat;
}
@media only screen and (max-width: 768px) {
  .landing-page .compare-players .right {
    background: url(/src/assets/img/animation/compare-right-bg-mobile.svg) right center/cover no-repeat;
  }
}
.landing-page .compare-players .right .player-pickers {
  right: 2%;
  left: initial;
}
@media only screen and (max-width: 768px) {
  .landing-page .compare-players .right .player-list {
    margin-right: 0;
    margin-left: 10px;
  }
}
.landing-page .compare-players .right .player-image {
  right: 15%;
  left: initial;
}
.landing-page .compare-players .right .player-image.abraham {
  right: -3%;
}
.landing-page .compare-players .right .player-image.karim {
  right: 10%;
}
@media only screen and (max-width: 600px) {
  .landing-page .compare-players .right .player-image {
    right: -30%;
  }
  .landing-page .compare-players .right .player-image.abraham {
    right: -83%;
  }
  .landing-page .compare-players .right .player-image.karim {
    right: -44%;
  }
}
.landing-page .compare-players .right .player-info {
  right: initial;
  left: 10%;
  text-align: left;
}
.landing-page .compare-players .right .player-team, .landing-page .compare-players .right .player-rank {
  justify-content: flex-start;
}
.landing-page .compare-players .right .player-team img {
  margin-left: 0;
  margin-right: 12px;
}
.landing-page .compare-players .right .player-rank p {
  color: #fb295e;
}
.landing-page .compare-players .right .ranking-value {
  left: initial;
  right: 10%;
}
.landing-page .compare-players .right .ranking-value div {
  margin-right: 0;
  margin-left: 3vw;
}
.landing-page .compare-players .stats-comparison {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (max-width: 768px) {
  .landing-page .compare-players .stats-comparison {
    top: 45%;
  }
}
.landing-page .compare-players .stats-comparison .stats-card {
  width: 45vw;
  height: 5vw;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  margin-bottom: 10px;
  color: white;
}
@media only screen and (max-width: 768px) {
  .landing-page .compare-players .stats-comparison .stats-card {
    background: transparent;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 10px;
  }
  .landing-page .compare-players .stats-comparison .stats-card .stats-left {
    order: 2;
  }
  .landing-page .compare-players .stats-comparison .stats-card .stats-left .value {
    margin-left: auto;
  }
  .landing-page .compare-players .stats-comparison .stats-card .stats-right {
    order: 3;
  }
}
.landing-page .compare-players .stats-comparison .stats-card .stats-left, .landing-page .compare-players .stats-comparison .stats-card .stats-right {
  width: 40%;
  padding: 1vw 2vw;
}
.landing-page .compare-players .stats-comparison .stats-card .stats-left-value, .landing-page .compare-players .stats-comparison .stats-card .stats-right-value {
  display: none;
}
.landing-page .compare-players .stats-comparison .stats-card .stats-left-value.active, .landing-page .compare-players .stats-comparison .stats-card .stats-right-value.active {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .landing-page .compare-players .stats-comparison .stats-card .stats-left, .landing-page .compare-players .stats-comparison .stats-card .stats-right {
    width: 50%;
  }
}
.landing-page .compare-players .stats-comparison .stats-card .stats-left .value, .landing-page .compare-players .stats-comparison .stats-card .stats-right .value {
  font-family: "Bebas Neue";
  font-size: 2.1vw;
  color: #ffffff;
  letter-spacing: 0.37px;
  line-height: 24px;
}
.landing-page .compare-players .stats-comparison .stats-card .stats-left .points, .landing-page .compare-players .stats-comparison .stats-card .stats-right .points {
  font-family: "Bebas Neue";
  font-size: 2vw;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.56px;
  line-height: 24px;
}
@media only screen and (max-width: 768px) {
  .landing-page .compare-players .stats-comparison .stats-card .stats-left .points, .landing-page .compare-players .stats-comparison .stats-card .stats-right .points {
    display: none;
  }
}
.landing-page .compare-players .stats-comparison .stats-card .stats-left .points span, .landing-page .compare-players .stats-comparison .stats-card .stats-right .points span {
  font-family: "Bebas Neue";
  font-size: 1.1vw;
  color: #afb1bf;
  letter-spacing: 0.32px;
  line-height: 24px;
  margin: 0 5px;
}
.landing-page .compare-players .stats-comparison .stats-card .stats-left .progress, .landing-page .compare-players .stats-comparison .stats-card .stats-right .progress {
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background: rgba(220, 220, 220, 0.3);
  margin-top: 5px;
  position: relative;
}
.landing-page .compare-players .stats-comparison .stats-card .stats-left .progress-bar, .landing-page .compare-players .stats-comparison .stats-card .stats-right .progress-bar {
  position: absolute;
  left: 0;
  width: 70%;
  height: 3px;
  border-radius: 10px;
  background: #29bba5;
}
.landing-page .compare-players .stats-comparison .stats-card .stats-right .progress-bar {
  left: initial;
  right: 0;
  background: #fb295e;
}
.landing-page .compare-players .stats-comparison .stats-card .stats-title {
  width: 20%;
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 1.3vw;
  color: #ffffff;
  text-align: center;
  line-height: 14px;
}
@media only screen and (max-width: 768px) {
  .landing-page .compare-players .stats-comparison .stats-card .stats-title {
    width: 100%;
    order: 1;
    font-size: 16px;
    line-height: 14px;
  }
}
.landing-page .testimonials {
  background: #2f276e url(/src/assets/img/animation/testimonials.svg) bottom right/cover no-repeat;
  padding-top: 10rem;
  overflow-x: hidden;
}
@media only screen and (max-width: 768px) {
  .landing-page .testimonials {
    padding: 5rem 0;
  }
}
.landing-page .testimonials-container {
  min-height: 100vh;
  background: url(/src/assets/img/animation/testimonials-m.svg) top left no-repeat;
  padding: 4vw 8vw;
  width: 90vw;
  margin: 0 auto;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .landing-page .testimonials-container {
    min-height: auto;
    background-size: 30%;
    width: 100vw;
  }
}
.landing-page .testimonials .what-people-say {
  font-family: "Bebas Neue";
  font-size: 3.3vw;
  color: #ffffff;
}
@media only screen and (max-width: 600px) {
  .landing-page .testimonials .what-people-say {
    font-size: 25px;
  }
}
@media only screen and (max-width: 600px) {
  .landing-page .testimonials .actions-wrap {
    padding: 0;
  }
  .landing-page .testimonials .actions-wrap .nav-arrow {
    width: 30px;
    height: 30px;
  }
  .landing-page .testimonials .actions-wrap .nav-arrow > i {
    line-height: 30px;
    font-size: 20px;
  }
}
.landing-page .testimonials .testimonials-head {
  margin-bottom: 5vw;
}
@media only screen and (max-width: 600px) {
  .landing-page .testimonials .testimonials-head {
    margin-bottom: 30px;
  }
}
.landing-page .testimonials .nav-arrow {
  width: 44px;
  height: 44px;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.landing-page .testimonials .nav-arrow.disabled {
  opacity: 0.2;
  pointer-events: none;
}
.landing-page .testimonials .nav-arrow:hover {
  background: rgba(255, 255, 255, 0.2);
}
.landing-page .testimonials .nav-arrow:hover > i {
  margin-right: 5px;
}
.landing-page .testimonials .nav-arrow.right:hover > i {
  margin-right: 0;
  margin-left: 5px;
}
.landing-page .testimonials .nav-arrow > i {
  color: white;
  font-weight: medium;
  line-height: 44px;
  transition: all 0.3s ease;
}
.landing-page .testimonials .nav-arrow.right > i {
  transform: rotate(180deg);
}
.landing-page .testimonials .scroller {
  width: 100%;
  flex-wrap: nowrap;
  transition: all 1s ease;
}
@media only screen and (max-width: 600px) {
  .landing-page .testimonials .testimonials-content {
    width: 100%;
    min-width: 100%;
    flex-basis: 100%;
  }
}
.landing-page .testimonials .testimonials-content p {
  font-size: 1.65vw;
  color: #ffffff;
  margin-bottom: 3vw;
}
@media only screen and (max-width: 600px) {
  .landing-page .testimonials .testimonials-content p {
    margin-bottom: 20px;
  }
}
.landing-page .testimonials .testimonials-content .author {
  font-size: 14px;
  font-weight: bold;
  color: #88a0cd;
}
.landing-page .search-container {
  margin: 12vw 0;
}
@media only screen and (max-width: 768px) {
  .landing-page .search-container {
    margin-bottom: 0;
  }
}
.landing-page .search-container img {
  width: 5vw;
  margin-bottom: 1.5vw;
}
@media only screen and (max-width: 600px) {
  .landing-page .search-container img {
    width: 50px;
    margin-bottom: 15px;
  }
}
.landing-page .search-container p {
  font-family: "Bebas Neue";
  font-size: 4.1vw;
  line-height: 4.5vw;
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .landing-page .search-container p {
    font-size: 30px !important;
    line-height: 30px !important;
  }
}

@keyframes slide-out {
  0% {
    transform: translate(-50%, -50%) scale(1) rotateX(0);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.3) rotateX(-180deg);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes slide-in {
  0% {
    transform: translate(-50%, -50%) scale(1.3) rotateX(180deg);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translate(-50%, -50%) scale(1) rotateX(0);
    opacity: 1;
    visibility: visible;
  }
}
.footer {
  background: white;
  padding: 30px 40px;
}
.footer .nav-list {
  font-size: 14px;
  color: #1b1b1b;
  cursor: pointer;
}
.footer .nav-list:not(:last-child)::after {
  content: "/";
  margin: 0 5px;
}
@media only screen and (max-width: 600px) {
  .footer {
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 15px;
  }
  .footer .nav-list {
    font-size: 12px;
  }
}
.footer .insta-link {
  align-items: flex-end !important;
}
@media only screen and (max-width: 600px) {
  .footer .insta-link {
    margin-top: 20px;
  }
}
.footer .insta-link span {
  font-family: "Bebas Neue";
  font-size: 18px;
  color: #2f276e;
  display: inline-block;
  margin-right: 20px;
}

/*# sourceMappingURL=landing-page.css.map */
