.bg-type-2 {
  background: url(/src/assets/img/signup/full-screen-bg.svg) center/cover no-repeat;
}

.signup {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.signup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1100px;
  height: 80%;
  background: #3e3583 url(/src/assets/img/signup/signup-bg.svg) left -110px center no-repeat;
  box-shadow: 0 8px 59px 26px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
.signup-container .div-type1 {
  width: 100%;
  height: 100%;
}
.signup-container .input-wrap {
  margin-top: 20px;
}
.signup-container .input-wrap .input-label {
  font-size: 14px;
  font-weight: bold;
  color: #b2e7f4;
  line-height: 14px;
  text-align: left;
}
.signup-container .input-wrap .input-label em {
  font-size: 13px;
  font-style: italic;
  color: #b2e7f4;
}
.signup-container .input-wrap.error .input-label {
  color: #fb295e;
}
.signup-container .input-wrap.error .input-label::after {
  content: "!";
  margin-left: 5px;
  color: #fb295e;
}
.signup-container .input-wrap.checkbox-error .allow-checkbox {
  background: #fb295e !important;
  border-color: #fb295e !important;
}
.signup-container .input-wrap .custom-input {
  width: 100%;
  font-size: 15px;
  padding: 5px 0px;
  color: white;
  font-weight: bold;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(216, 216, 216, 0.5);
  padding-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.signup-container .input-wrap .custom-textarea {
  width: 100%;
  font-size: 15px;
  padding: 5px 0px;
  color: white;
  font-weight: bold;
  background: #4b4296;
  border-radius: 8px;
  border: none;
  padding: 10px 15px;
}
.signup-container .input-wrap .custom-textarea::placeholder {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.46);
}
.signup-container .input-wrap .custom-select {
  -webkit-appearance: none;
  width: 100%;
  padding: 5px 0px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  background: transparent url(/src/assets/img/signup/custom-select-bg.svg) right 2px center no-repeat;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(216, 216, 216, 0.5);
  padding-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.signup-container .input-wrap .note-text {
  font-size: 12px;
  font-style: italic;
  color: #ffffff;
  margin-top: 10px;
  text-align: left;
}
.signup-container .input-wrap input[type=checkbox] {
  display: none;
}
.signup-container .input-wrap .allow-all {
  cursor: pointer;
}
.signup-container .input-wrap .allow-all .allow-checkbox {
  width: 14px;
  height: 14px;
  background: white;
  border: 1px solid #737071;
  box-shadow: 0 15px 30px 0 #2f276e;
  border-radius: 2px;
}
.signup-container .input-wrap .allow-all .allow-checkbox > i {
  font-size: 10px;
  font-weight: bold;
  color: white;
  display: block;
  margin-top: 1px;
  opacity: 0;
  visibility: hidden;
}
.signup-container .input-wrap input[type=checkbox]:checked + .allow-all .allow-checkbox {
  background: #fb295e;
}
.signup-container .input-wrap input[type=checkbox]:checked + .allow-all .allow-checkbox > i {
  opacity: 1;
  visibility: visible;
}
.signup-container .btn--sent {
  color: #000000;
  background: #b2e7f4;
}
.signup-avatar {
  max-height: 90%;
  position: absolute;
  bottom: -7%;
  left: 20px;
}
.signup .moonlight-logo {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.signup-form {
  width: 46%;
  margin-left: auto;
  padding: 30px 20px;
  padding-right: 50px;
}
.signup .terms-conditions {
  font-size: 12px;
  color: white;
  white-space: nowrap;
  margin-left: 5px;
}
.signup .terms-conditions .link {
  font-size: 12px;
}

.signup .title-main {
  font-family: "Bebas Neue";
  font-size: 50px;
  color: #ffffff;
  line-height: 1;
}
.signup .sub-text {
  font-size: 15px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 0;
}
.signup .link {
  font-size: 15px;
  font-weight: bold;
  color: #b2e7f4;
}
.signup .login-form {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.signup .login-form .sub-text {
  margin-bottom: 50px;
}
.signup .login-form .forgot-password {
  font-size: 13px;
  color: #525cd7;
}
.signup .forgot-password .avatar {
  max-height: 90%;
  position: absolute;
  bottom: -7%;
  left: 50px;
}
.signup .forgot-password .avatar-type2 {
  left: initial;
  right: 50px;
}
.signup .forgot-password .moonlight-logo {
  left: 50%;
  transform: translateX(-50%);
}
.signup .section-title {
  font-family: "Bebas Neue";
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 25px;
}
.signup .section-subtitle {
  font-size: 16px;
  color: #ffffff;
}
.signup .top-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.signup .email-icon {
  width: 130px;
}

/*# sourceMappingURL=signup.css.map */
