.my-team-mobile {
  .bebas-bold {
    font-family: "Bebas Neue" !important;
  }
  .red-text {
    color: #f86364;
  }
  .green-text {
    color: #5abf7b;
  }
  .yellow-text {
    color: #f4c85f;
  }
  .value-holder {
    width: calc(50% - 15px);
    background: white;
    height: 58px;
    display: flex;
    align-items: flex-end;
    padding: 4px 8px;
    position: relative;
    &.justify-end {
      justify-content: flex-end;
    }
    .values {
      p {
        font-size: 13px;
        font-weight: bold;
        color: #637581;
        line-height: 16px;
      }
      h6 {
        font-size: 27px;
        font-weight: normal;
        color: #586b78;
        text-align: right;
        line-height: 16px;
        display: inline-block;
      }
      h6.d-flex {
        font-family: BebasNeue-Bold;
        font-size: 27px;
        color: #586b78;
        text-align: right;
        line-height: 16px;
        margin-top: 5px;
        display: inline-block;
        span {
          font-size: 16px;
          color: #586b78;
          letter-spacing: 0;
          text-align: right;
          line-height: 16px;
          margin: 0 5px;
          display: inline-block;
        }
      }
    }
    &.projected {
      &::after {
        content: "Projected pts";
        font-family: "bebas_neueregular";
        font-size: 14px;
        color: #586b78;
        line-height: 16px;
        position: absolute;
        top: 5px;
        left: 8px;
      }
    }
    &.live {
      &::after {
        content: "Live PTS";
        font-family: "bebas_neueregular";
        font-size: 14px;
        color: #586b78;
        line-height: 16px;
        position: absolute;
        top: 5px;
        left: 8px;
      }
    }
    &.won {
      background: #5abf7b;
      &::after {
        content: "You Won!";
        font-family: "bebas_neueregular";
        font-size: 21px;
        color: white;
        line-height: 16px;
        position: absolute;
        top: 5px;
        left: 8px;
      }
      p,
      h6,
      h6 span {
        color: white;
      }
    }
    &.lost {
      background: #f86364;
      &::after {
        content: "You Lost";
        font-family: "bebas_neueregular";
        font-size: 21px;
        color: white;
        line-height: 16px;
        position: absolute;
        top: 5px;
        left: 8px;
      }
      p,
      h6,
      h6 span {
        color: white;
      }
    }
    &.drew {
      background: #97a1a5;
      &::after {
        content: "You Drew";
        font-family: "bebas_neueregular";
        font-size: 21px;
        color: white;
        line-height: 16px;
        position: absolute;
        top: 5px;
        left: 8px;
      }
      p,
      h6,
      h6 span {
        color: white;
      }
    }
  }
  .vs-holder {
    width: 30px;
    background: #f5f5f5;
    height: 58px;
    display: flex;
    align-items: flex-end;
    .vs {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      line-height: 18px;
      background: #586b78;
      border: 1px solid #181853;
      font-family: "BebasNeuePro-BoldItalic";
      font-size: 14px;
      color: #ffffff;
      text-align: center;
      line-height: 16px;
      margin: 0 auto 7px auto;
    }
  }
  .points-progress-holder {
    width: 100%;
    height: 10px;
    background: white;
    .points-progress {
      width: 75%;
      height: 3px;
      background: rgba(#76878e, 0.3);
      border-radius: 1.5px;
      position: relative;
      .half-marker {
        width: 2px;
        height: 9px;
        background: #586b78;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      .progress-bar-green {
        width: 40%;
        height: 3px;
        position: absolute;
        left: 50%;
        border-radius: 1.5px;
        transform: translateX(-100%);
        background: #56c079;
      }
      .progress-bar-red {
        width: 25%;
        height: 3px;
        position: absolute;
        left: 50%;
        border-radius: 1.5px;
        background: #fa6260;
      }
    }
    .points {
      font-size: 11px;
      line-height: 16px;
      margin: 0 5px;
      &-green {
        color: #56c079;
      }
      &-red {
        color: #fa6260;
      }
    }
  }
  .my-team-menu {
    .holder {
      flex-grow: 1;
      font-family: "bebas_neueregular";
      font-size: 14px;
      color: #586b78;
      text-align: center;
      line-height: 16px;
      border: 1px solid #e6e6e6;
      padding: 5px 0;
      text-transform: uppercase;
      background: white;
      min-width: 105px;
      span {
        font-family: "bebas_neueregular";
        font-size: 14px;
        color: #586b78;
        text-align: center;
        line-height: 16px;
      }
      &.date-holder {
        color: #8f989e;
        background: #f5f5f5;
        .live {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            display: inline-block;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #5ac47d;
            left: -15px;
            top: 4px;
          }
        }
      }
      &.custom-dropdown {
        padding: 5px 10px;
        text-align: left;
        background: white url(/src/assets/img/arrow-down.svg) right 10px center
          no-repeat;
        cursor: pointer;
      }
    }
  }
  .gameweek-selector {
    padding: 4px 10px;
    background: #f5f7fa;
    box-shadow: 0 2px 4px 0 #d8dde5;
    p {
      font-family: "bebas_neueregular";
      font-size: 18px;
      color: #76878e;
      text-align: center;
    }
  }
  .player-section {
    .player-section-title {
      font-family: "Bebas Neue";
      font-size: 12px;
      color: #586b78;
      text-align: center;
      line-height: 16px;
      padding: 4px 0 2px 0;
      border-bottom: 1px solid #d5d5d5;
    }
    .players-wrapper {
      &.grey-style {
        .player-card {
          background: #e6e6e6;
        }
      }
      &.grey-light-style {
        .player-card {
          background: #eeeeee;
        }
      }
    }
    .player-card {
      background: white;
      border-bottom: 1px solid #d5d5d5;
      &.active {
        background: white !important;
        .player-position {
          background: #525cd7 !important;
          box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.09) !important;
          p {
            @extend .bebas-bold;
            color: white;
          }
          .player-count {
            background: white;
            color: #273640;
          }
        }
      }
      .player-info-wrapper {
        padding: 5px;
        align-items: flex-end;
      }
      .player-position {
        width: 30px;
        position: relative;
        min-height: 76px;
        background: #f5f7fa;
        box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.09);
        p {
          font-family: "bebas_neueregular";
          font-size: 15px;
          color: rgba(#76878e, 0.9);
          text-align: center;
        }
        .special-icon {
          position: absolute;
          bottom: 0;
        }
        .player-count {
          position: absolute;
          width: 100%;
          text-align: center;
          top: 0;
          left: 0;
          background: #8d9ba1;
          font-weight: bold;
          font-size: 11px;
          color: rgba(#ffffff, 0.9);
          text-align: center;
        }
      }
      .player-image {
        max-height: 72px;
        max-width: 53px;
        object-fit: contain;
      }
      .player-name {
        font-size: 15px;
        font-weight: bold;
        color: #525cd7;
        letter-spacing: 0;
        line-height: 16px;
        margin-bottom: 5px;
      }
      .match-info {
        &:not(:last-child) {
          margin-right: 10px;
        }
        .team {
          span {
            font-weight: bold;
          }
          font-size: 14px;
          color: #273640;
          line-height: 16px;
          text-transform: uppercase;
        }
        .time {
          font-family: "bebas_neueregular";
          font-size: 12px;
          color: #586b78;
          line-height: 16px;
          span {
            font-family: inherit;
          }
        }
        &.grey {
          background: #829298;
          border-radius: 3px;
          padding: 2px 10px;
          .team,
          .time {
            color: white;
          }
        }
      }
      .team-name {
        font-size: 14px;
        font-weight: bold;
        color: #273640;
        line-height: 16px;
      }
      .league-name {
        font-family: Roboto-Regular;
        font-size: 12px;
        color: #273640;
        letter-spacing: 0;
        line-height: 16px;
      }
      .team-images {
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
          &:not(:last-child) {
            margin-right: 5px;
          }
        }
      }
      .player-points {
        margin-right: 10px;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        .actual-points {
          font-family: "Bebas Neue";
          font-size: 26px;
          color: #586b78;
          text-align: right;
          line-height: 16px;
        }
        .points-bar {
          position: relative;
          &::after {
            content: "";
            width: 100%;
            height: 2px;
            background: #586b78;
            display: inline-block;
            position: absolute;
            top: -15px;
            left: 0;
          }
        }
      }
      .game-week-info-wrap {
        &:not(:last-child) {
          margin-right: 20px;
        }
        .gw-title {
          font-family: "Bebas Neue";
          font-size: 13px;
          color: #586b78;
          text-align: center;
          line-height: 14px;
        }
        .team {
          font-family: "bebas_neueregular";
          font-size: 15px;
          color: #273640;
          line-height: 10px;
        }
        .team-difficulty {
          width: 14px;
          height: 14px;
          font-size: 12px;
          font-weight: bold;
          color: #ffffff;
          padding: 0px;
          border-radius: 2px;
          margin-left: 5px;
        }
        .gw-bottom {
          padding-top: 4px;
          border-top: 1px solid #586b78;
        }
      }
    }
  }
}

.my-team-mobile-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.09);
  padding: 6px;
  .menu-type1 {
    width: calc(100% / 4 - 4px);
    height: 81px;
    text-transform: uppercase;
    font-family: "bebas_neueregular";
    font-size: 18px;
    color: #586b78;
    text-align: center;
    line-height: 18px;
    background: #ffffff;
    border: 1px solid #e5eaf2;
    border-radius: 1px;
    padding: 5px;
    &:not(:last-child) {
      margin-right: 4px;
    }
    &.disabled {
      color: rgba(#586b78, 0.3);
      border: 0;
      pointer-events: none;
    }
  }
  .menu-type2 {
    font-family: "bebas_neueregular";
    font-size: 18px;
    color: #586b78;
    text-align: center;
    line-height: 18px;
    background: #ffffff;
    border: 1px solid #e5eaf2;
    border-radius: 1px;
    padding: 5px 15px;
    margin-right: 10px;
    white-space: nowrap;
  }
  .menu-text {
    font-size: 13px;
    font-weight: bold;
    color: #273640;
    line-height: 16px;
    text-align: right;
    margin-right: 5px;
  }
}
