.create-league {
  background: url(/src/assets/img/create-league/create-league-bg.svg)
    center/cover no-repeat;
  position: relative;
  &-header {
    z-index: 1;
    padding: 12px 15px;
    background: #2e266c;
    box-shadow: 0 4px 14px 0 rgba(5, 7, 20, 0.23);
    .draftroom-title {
      font-size: 17px;
      color: #ffffff;
      font-weight: $bold;
    }
    .nav {
      &-link {
        position: absolute;
        left: 15px;
        cursor: pointer;
      }
      &-arrow {
        @include avatar(24px, 24px, #333589, 50%);
        box-shadow: 0 7px 15px -4px rgba(0, 0, 0, 0.3),
          0 12px 20px -16px rgba(158, 117, 255, 0.15);
        > .material-icons {
          color: #b2e7f4;
          line-height: 24px;
        }
      }
      &-link-text {
        font-size: 11px;
        color: #b2e7f4;
        font-weight: $bold;
        text-transform: uppercase;
      }
    }
  }
  &-body {
    width: 768px;
    max-width: 768px;
    height: calc(100vh - 146px);
    // overflow-y: auto;
    background: #3e3583;
    box-shadow: 0 8px 59px 26px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    position: absolute;
    top: calc(47% + 46px);
    left: 50%;
    transform: translate(-50%, -50%);
    @include respond-to(1250px) {
      max-width: 600px;
      height: calc(100vh - 110px);
      .league-form {
        padding: 30px;
        // overflow: auto;
        height: 100%;
      }
    }
    // &__left {
    //   position: absolute;
    //   left: -150px;
    //   bottom: 10%;
    //   img:nth-child(2) {
    //     margin-left: -67px;
    //     position: relative;
    //     top: 30px;
    //   }
    // }
    // &__right {
    //   position: absolute;
    //   right: -150px;
    //   bottom: 10%;
    //   img:first-child {
    //     margin-right: -49px;
    //     position: relative;
    //     top: 13px;
    //   }
    // }
    &__left {
      position: absolute;
      left: -20%;
      bottom: 10%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      img {
        // height: 75%;
        height: 480px;
        &:nth-child(2) {
          margin-left: -67px;
          position: relative;
          top: 30px;
        }
        @include respond-to(1250px) {
          height: 380px;
        }
      }
    }
    &__right {
      position: absolute;
      right: -15%;
      bottom: 10%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      img {
        // height: 75%;
        height: 480px;
        &:first-child {
          margin-right: -49px;
          position: relative;
          top: 30px;
        }
        @include respond-to(1250px) {
          height: 380px;
        }
      }
    }
  }
}

.form-progress {
  .progress {
    &-list {
      width: max-content;
      position: relative;
      margin: 0 auto;
      &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 3px;
        background: #544c92;
        border-radius: 2.5px;
        position: absolute;
        left: 0;
      }
    }
    &-item {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #3e3583;
      border: 2px solid #544c92;
      position: relative;
      z-index: 1;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 100px;
      }
      .progress-icon {
        font-size: 16px;
        font-weight: bold;
        color: white;
        margin-top: 1px;
        display: none;
      }
      &.active {
        width: 23px;
        height: 23px;
        background: #fb295e;
        border: 7px solid white;
      }
      &.done:not(:last-child) {
        width: 23px;
        height: 23px;
        background: #fb295e;
        border-color: #fb295e;
        &::after {
          content: "";
          position: absolute;
          right: -104px;
          width: 103px;
          height: 3px;
          top: 8px;
          background: #fb295e;
        }
        .progress-icon {
          display: block;
        }
      }
      .progress-tooltip {
        position: absolute;
        width: max-content;
        font-size: 13px;
        font-weight: $bold;
        color: #ffffff;
        background: #4b4296;
        box-shadow: 0 9px 10px 0 #2f276e;
        border-radius: 5px;
        padding: 10px 15px;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%);
        opacity: 0;
        visibility: hidden;
        &::after {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          border: 10px solid #4b4296;
          border-bottom: 10px solid transparent;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          bottom: -19px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      //   &:hover {
      //     .progress-tooltip {
      //       opacity: 1;
      //       visibility: visible;
      //     }
      //   }
      &.active {
        .progress-tooltip {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.league-form {
  padding: 60px 0;
  .mt-60 {
    margin-top: 20px;
  }
  &-title {
    font-family: "Bebas Neue";
    font-size: 24px;
    color: #ffffff;
  }
  .button-wrap {
    display: inline-block;
    margin: 0 auto;
    margin-top: 40px;
    &-top {
      margin-top: 30px;
    }
  }
  .next-button {
    width: 180px;
    padding: 8px 16px;
    background: #525cd7;
    border-radius: 21px;
    position: relative;
    margin: 0 auto;
    .btn-text {
      font-family: "Bebas Neue";
      font-size: 16px;
      color: #ffffff;
      text-transform: uppercase;
    }
    .btn-arrow {
      position: absolute;
      right: 16px;
    }
  }
}

.leagues-wrap {
  input[type="radio"] {
    display: none;
  }
  .options {
    &.disabled {
      .league-card {
        opacity: 0.82;
        background: rgba(black, 0.1)
          url(/src/assets/img/create-league/league-card-bg.svg) top left
          no-repeat;
        box-shadow: none;
        input[type="checkbox"] {
          pointer-events: none;
        }
      }
    }
  }
  .league-card {
    position: relative;
    box-shadow: 0 15px 30px 0 #2f276e;
    border-radius: 5px;
    width: 150px;
    height: 205px;
    background: #4b4296 url(/src/assets/img/create-league/league-card-bg.svg)
      top left no-repeat;
    cursor: pointer;
    .title {
      height: 40px;
      margin-bottom: 20px;
      &-text {
        font-family: "Bebas Neue";
        font-size: 15px;
        color: rgba(#ffffff, 0.7);
        padding: 10px;
      }
      .info-wrap {
        position: absolute;
        top: 8px;
        right: 8px;
      }
    }
    .league-card-league {
      font-size: 14px;
      font-weight: $bold;
      color: #ffffff;
      text-align: center;
      height: 40px;
      background: rgba(#ffffff, 0.06);
      border-radius: 4px;
      padding: 10px;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
  input:checked + .league-card {
    background: #fb295e
      url(/src/assets/img/create-league/leage-card-active-bg.svg) top left
      no-repeat;
    .league-card-league {
      background: rgba(#ffffff, 0.15);
    }
  }
}

.pro-leagues-wrap {
  .league-list {
    width: 345px;
    margin: 0 auto;
    input[type="checkbox"] {
      display: none;
    }
    &__checkbox {
      margin-bottom: 15px;
      padding: 10px 20px;
      background: #4b4296;
      border-radius: 5px;
      box-shadow: 0 15px 30px 0 #2f276e;
      cursor: pointer;
      > img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 15px;
      }
      .league-name {
        font-size: 14px;
        color: #ffffff;
      }
      .checkbox-circle {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: #3e3583;
        .done-icon {
          color: $white;
          font-size: 16px;
          font-weight: $bold;
          margin-top: 3px;
          display: none;
        }
      }
    }
    input:checked + .league-list__checkbox {
      .checkbox-circle {
        background: #fb295e;
        .done-icon {
          display: block;
        }
      }
    }
  }
}

.league-settings {
  width: 340px;
  margin: 0 auto;
  .label {
    text-align: left;
    font-size: 14px;
    font-weight: $bold;
    color: #ffffff;
  }
  .date {
    &-selected {
      font-size: 14px;
      font-weight: $bold;
      color: #ffffff;
      background: #4b4296;
      box-shadow: 0 15px 30px 0 #2f276e;
      border-radius: 5px 0 0 5px;
      padding: 12px 15px;
      flex-grow: 1;
      text-align: left;
    }
    &-picker {
      background: #2f276e;
      border-radius: 0 5px 5px 0;
      width: 47px;
      height: 42px;
      text-align: center;
      padding: 10px 14px;
    }
  }
}

.button-checkbox {
  input[type="radio"] {
    display: none;
  }
  .options-wrap {
    cursor: pointer;
    width: 165px;
    padding: 12px 0;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    background: #4b4296;
    box-shadow: 0 15px 30px 0 #2f276e;
    border-radius: 5px;
  }
  input[type="radio"]:checked + .options-wrap {
    background: #fb295e url(/src/assets/img/create-league/btn-shape.svg) right
      no-repeat;
    font-weight: $bold;
  }
}

.info-wrap {
  position: relative;
  cursor: pointer;
  .info-icon:hover + .info-tooltip {
    display: block;
  }
  .info-icon {
    font-size: 18px;
    color: white;
  }
  .info-tooltip {
    display: none;
    font-size: 13px;
    color: #ffffff;
    background: rgba(21, 21, 21, 0.8);
    box-shadow: 0 9px 10px 0 #2f276e;
    border-radius: 6px;
    position: absolute;
    width: 180px;
    padding: 15px;
    text-align: left;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      border: 10px solid rgba(21, 21, 21, 0.8);
      border-top: 10px solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      top: -19px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.league-details {
  width: 340px;
  margin: 0 auto;
  .mb-0 {
    margin-bottom: 0 !important;
  }
  .input-wrap {
    margin-bottom: 30px;
    @include respond-to(1250px) {
      margin-bottom: 20px;
    }
    .input-label {
      font-size: 14px;
      font-weight: $bold;
      color: #b2e7f4;
      line-height: 14px;
      text-align: left;
      margin-bottom: 15px;
    }
    .custom-input {
      width: 100%;
      font-size: 14px;
      color: $white;
      background: none;
      border: none;
      border-bottom: 1px solid rgba(#d8d8d8, 0.5);
    }
    .custom-textarea {
      width: 100%;
      font-size: 14px;
      color: #b2e7f4;
      background: #4b4296;
      border-radius: 8px;
      border: none;
      padding: 10px 15px;
      &::placeholder {
        font-size: 13px;
        color: rgba(#ffffff, 0.46);
      }
    }
    .note-text {
      font-size: 12px;
      font-style: italic;
      color: #ffffff;
      margin-top: 10px;
      text-align: left;
    }
    input[type="checkbox"] {
      display: none;
    }
    .allow-all {
      cursor: pointer;
      .allow-checkbox {
        width: 14px;
        height: 14px;
        background: #4b4296;
        border: 1px solid #737071;
        box-shadow: 0 15px 30px 0 #2f276e;
        border-radius: 2px;
        > i {
          font-size: 10px;
          font-weight: bold;
          color: white;
          display: block;
          // margin-left: 1px;
          margin-top: 1px;
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    input[type="checkbox"]:checked + .allow-all {
      .allow-checkbox {
        background: #fb295e;
        > i {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.confirmation-details {
  width: 340px;
  margin: 0 auto;
  background: #4b4296;
  border-radius: 8px;
  padding: 15px 25px;
  margin-top: 15px;
  .info {
    text-align: left;
    font-size: 14px;
    font-weight: $bold;
    margin-bottom: 10px;
  }
  .label {
    color: #b2e7f4;
  }
  .value {
    color: white;
  }
}

.button-wrap--type2 {
  display: flex !important;
  width: 340px;
  button {
    width: calc(100% / 2 - 10px) !important;
    &.back-button {
      border: 1px solid #979797;
      background: #3e3583;
    }
  }
}

.popup-calendar {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(#0e1025, 0.5);
  display: inline-block;
  z-index: 4;
  top: 0;
  left: 0;
  .calendar-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 540px;
    height: 320px;
    background: #3e3583;
    box-shadow: 0 24px 35px 0 rgba(0, 0, 0, 0.13);
    border-radius: 3px;
  }
  .calendar-section {
    height: calc(100% - 52px);
    padding: 30px 0;
    .sections {
      width: 50%;
      padding: 0 30px;
      &:first-child {
        border-right: 1px solid white;
      }
    }
    .est-time {
      font-size: 13px;
      font-weight: $bold;
      color: rgba(#ffffff, 0.4);
    }
    .time {
      .material-icons {
        color: #b2e7f4;
      }
      .number {
        font-family: "Bebas Neue";
        font-size: 43px;
        color: #ffffff;
      }
      &.colon {
        margin: 0 15px;
      }
    }
  }
  .header {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 3px;
    padding: 7px 15px;
    .title {
      font-size: 13px;
      font-weight: $bold;
      color: #ffffff;
      line-height: 24px;
    }
  }
}

.p-0 {
  padding: 0 !important;
}
