@import "../helpers/variable.scss";
@import "../helpers/mixins.scss";

.draftroom {
  &-header {
    position: relative;
    padding: 12px 15px;
    background: #ffffff;
    box-shadow: 0 4px 14px 0 rgba(82, 92, 215, 0.23);
    .draftroom-title {
      font-size: 17px;
      color: #3d397b;
      font-weight: $bold;
      text-transform: uppercase;
    }
    .nav {
      &-link {
        position: absolute;
        left: 15px;
        cursor: pointer;
      }
      &-arrow {
        @include avatar(24px, 24px, #333589, 50%);
        box-shadow: 0 7px 15px -4px rgba(0, 0, 0, 0.3),
          0 12px 20px -16px rgba(158, 117, 255, 0.15);
        > .material-icons {
          color: $white;
          line-height: 24px;
        }
      }
      &-link-text {
        font-size: 11px;
        color: #525cd7;
        font-weight: $bold;
        text-transform: uppercase;
      }
    }
  }
  .top-section {
    border: 1px solid rgba(#d1d1d1, 0.59);
    box-shadow: 0 2px 10px 0 rgba(82, 92, 215, 0.15);
    .error {
      .error-tooltip {
        display: block;
      }
    }
    .error-tooltip {
      position: absolute;
      top: calc(100% + 10px);
      width: 220px;
      font-size: 13px;
      padding: 15px 10px;
      color: #ffffff;
      text-align: center;
      line-height: 17px;
      background: #f46869;
      box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.29);
      border-radius: 6px 6px 6px 6px;
      display: none;
      .error-info {
        position: absolute;
        left: 50%;
        bottom: 0%;
        transform: translate(-50%, 50%);
      }
      &.error-tooltip-budget {
        width: 440px;
        top: calc(100% + 15px);
        &::after {
          left: 15%;
        }
      }
      &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border: 10px solid #f46869;
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        top: -19px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &-empty {
    display: block;
    margin: 100px auto;
  }
  .player-picker {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    background: white;
    &__header {
      position: relative;
      box-shadow: 0 2px 10px 0 rgba(82, 92, 215, 0.15);
    }
    .close-button {
      width: 35px;
      cursor: pointer;
    }
    .section-header {
      padding: 10px 15px;
      background: rgba(220, 222, 247, 0.5);
      box-shadow: inset 0 -1px 0 0 rgba(82, 92, 215, 0.27);
    }
    .player-no {
      font-size: 16px;
    }
    .text {
      font-size: 13px;
      &-bold {
        font-weight: $bold;
      }
    }
    .empty-player {
      .player-image {
        width: 39px;
        height: 39px;
      }
      .player-name {
        color: #afb1bf;
      }
    }
  }
  .checkbox-txt {
    margin-left: 7px;
  }
}

.picker-queue {
  background: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(82, 92, 215, 0.15);
  .timer {
    width: 84px;
    text-align: center;
    &-image {
      padding: 5px 15px;
      background: #55c97b;
    }
    &-counter {
      padding: 5px 15px;
      background: $white;
      position: relative;
    }
    &-progress {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background: #ddf4e4;
    }
    &-clock {
      font-size: 14px;
      font-weight: $bold;
      color: #55c97b;
    }
  }
  .round {
    &-no {
      width: 26px;
      background: #2a276f;
    }
    &-text {
      font-size: 10px;
      color: #ffffff;
      font-weight: $bold;
      white-space: nowrap;
      transform: rotate(270deg);
    }
    &-wrap {
      width: calc(100% - 84px);
      overflow-x: auto;
    }
  }
  .round-card {
    min-width: 100px;
    border-right: 1px solid #dfdfe5;
    text-align: center;
    padding: 8px;
    .player-image {
      width: 35px;
      height: 35px;
      margin: 0 auto;
      border: 2px solid #3b3e91;
      border-radius: 50%;
      background: #bdc7ff;
      box-shadow: 0 5px 10px -4px rgba(82, 92, 215, 0.3);
      overflow: hidden;
      text-align: center;
      > img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        margin-top: 2px;
      }
    }
    .card-no {
      font-size: 12px;
      line-height: 10px;
      text-align: right;
    }
    .player-name {
      font-size: 12px;
      font-weight: $bold;
      color: #202456;
    }
    &.active {
      color: $white;
      background: #4c53c0;
      .player-name {
        color: $white;
      }
    }
    .my-player {
      position: absolute;
      left: 8px;
      width: 20px;
      display: none;
    }
    &.my-player {
      position: relative;
      .my-player {
        display: inline-block;
      }
    }
  }
}

.budget-wrap {
  padding: 20px 10px;
  .budget-card {
    width: 35%;
    margin: 0px 10px;
    padding: 15px 30px;
    background: #4e5fc9;
    box-shadow: 0 5px 12px -4px rgba(82, 92, 215, 0.3);
    border-radius: 10px;
    position: relative;
    &--blue {
      background: rgba(#39399c, 0.93)
        url("/src/assets/img/draft-room/budget-bg.svg") left no-repeat;
    }
    &--green {
      width: 100%;
      background: url("/src/assets/img/draft-room/budget-bg-green.svg") right
          no-repeat,
        linear-gradient(90deg, #529ec9 0%, #53d2bd 100%);
      .bud-first {
        display: none;
      }
      .bud-team {
        margin-left: 50px;
      }
      .count-wrapper {
        display: flex;
        margin-right: 0 !important;
      }
      .player-count {
        margin-right: 30px !important;
      }
      .btn {
        margin-left: auto;
      }
    }
    .count-wrapper {
      margin-right: 20px;
    }
    &-progress {
      position: absolute;
      right: 0;
      top: 0;
      width: 86%;
      height: 100%;
      display: inline-block;
      border-radius: 10px;
      background: url("/src/assets/img/draft-room/budget-bg-green.svg") right
          no-repeat,
        linear-gradient(90deg, #529ec9 0%, #53d2bd 100%);
    }
    .bud {
      position: relative;
      z-index: 1;
      &-team {
        margin-right: 15px;
      }
    }
    .player-count {
      @include align-items(baseline);
      &:not(:last-child) {
        margin-right: 20px;
      }
      &-no {
        font-family: "Bebas Neue";
        font-size: 24px;
        color: #fbfbfb;
        letter-spacing: 0.8px;
        margin-left: 5px;
        > span {
          font-family: "Bebas Neue";
          font-size: 14px;
          letter-spacing: 0.5px;
        }
      }
    }
    .budget {
      font-family: "Bebas Neue";
      font-size: 32px;
      line-height: 34px;
      color: #fbfbfb;
      letter-spacing: 0.8px;
      > span {
        font-family: "Bebas Neue";
        font-size: 20px;
        letter-spacing: 0.5px;
      }
    }
    .sub-text {
      font-size: 12px;
      font-weight: $bold;
      color: #ffffff;
    }
    .btn--primary {
      font-size: 13px;
      color: #b2e7f4;
      font-weight: $bold;
      text-align: center;
      padding: 8px 17px;
      background: #333589 url("/src/assets/img/draft-room/btn-shape.svg") right
        bottom no-repeat;
      box-shadow: 0 7px 15px -4px rgba(0, 0, 0, 0.3),
        0 12px 20px -16px rgba(158, 117, 255, 0.15);
      border-radius: 3px;
    }
  }
}
.actions-wrap {
  padding: 0 20px;
  .btn--filter {
    font-size: 13px;
    color: #5159b6;
    margin-left: 7px;
    background: #f8fafd;
    border: 1px solid #dfdfe5;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    .ml-30 {
      margin-left: 30px;
    }
  }
  .search-wrap {
    min-width: 300px;
    @include respond-to(1100px) {
      width: 250px;
      min-width: 250px;
    }
    input {
      flex-grow: 1;
    }
  }
}

.filter-section {
  margin: 0 20px 20px 20px;
  background: #efeef8;
  border-radius: 10px;
  padding: 15px 20px;
  display: none;
  &.open {
    display: block;
  }
  .filter-container {
    @include flex-wrap(wrap);
  }
  .less-more-toggle {
    width: 100%;
    text-align: center;
    input[type="checkbox"] {
      display: none;
    }
    .text-section {
      @include flexbox();
      @include flex-wrap(wrap);
      @include flex-direction(column-reverse);
    }
    .less-more-holder {
      width: 100%;
    }
    .txt {
      display: inline-block;
      border: 1px solid #dfdfe5;
      border-radius: 4px;
      cursor: pointer;
      width: 125px;
      padding: 6px 15px;
      font-size: 13px;
      color: #5f6c84;
      margin: 0 auto;
      &.less-txt {
        display: none;
      }
      &.more-txt {
        display: block;
      }
    }
    #less-more:checked + .text-section {
      .less-more-holder {
        .less-txt {
          display: block;
        }
        .more-txt {
          display: none;
        }
      }
      .filter-container {
        max-height: initial;
      }
    }
    .filter-container {
      max-height: 70px;
      overflow: hidden;
    }
  }
  .select-wrap--type2 {
    width: calc((100% - 90px) / 4);
    margin-bottom: 30px;
    @include respond-to(1200px) {
      width: calc((100% - 40px) / 4);
    }
  }
}
.select-wrap--type2 {
  .select-label {
    font-size: 12px;
    font-weight: $bold;
    margin-bottom: 5px;
    text-align: left;
  }
  .custom-select {
    width: 100%;
    -webkit-appearance: none;
    padding: 11px 20px;
    font-size: 12px;
    color: #606380;
    line-height: 1;
    background: $white url(/src/assets/img/draft-room/select-arrow-down.svg)
      right 15px center no-repeat;
    border: 1px solid #eaeaea;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    border-radius: 4px;
  }
  .stats-type {
    margin-top: 20px;
    &__item {
      padding: 4px 0px;
      width: 50%;
      white-space: nowrap;
    }
  }
}

.selected-filters-wrap {
  padding: 20px 20px 20px 20px;
  @include justify-content(flex-end);
  .selected-filters {
    font-size: 10px;
    font-weight: $bold;
    color: #fb295e;
    border: 1px solid #fb295e;
    border-radius: 10px;
    padding: 2px 10px;
    margin-left: 10px;
    cursor: pointer;
  }
}

.hide {
  display: none !important;
}
.draftroom-complete-popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(14, 16, 37, 0.6);
  display: inline-block;
  z-index: 4;
  top: 0;
  left: 0;
  .draft-message-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 515px;
    height: 325px;
    background: #2a276f url(/src/assets/img/draft-room/popup-shape.svg) right
      top no-repeat;
    box-shadow: 0 5px 10px 0 rgba(42, 39, 111, 0.19);
    border-radius: 16px;
  }
  .message-holder {
    width: 50%;
    padding: 30px;
    text-align: center;
    .message {
      font-family: "Bebas Neue";
      font-size: 46px;
      color: #fbfbfb;
      letter-spacing: 1.16px;
      line-height: 39.6px;
      margin: 15px 0;
    }
    .btn {
      font-weight: $bold;
    }
  }
  .image {
    position: relative;
    top: -60px;
    left: 45px;
  }
  &.auto-draft {
    .message-holder {
      width: 100%;
    }
    .message-sub {
      font-family: "Bebas Neue";
      font-size: 30px;
      color: #fbfbfb;
      letter-spacing: 0.76px;
    }
    .btn--red {
      background: #ff005a;
      box-shadow: 0 7px 9px -4px rgba(255, 0, 90, 0.62);
      border-radius: 3px;
    }
  }
}

.draftroom {
  &-body {
    .btn--watch,
    .btn--draft {
      width: 62px;
    }
  }
  .btn {
    font-size: 13px;
    text-align: center;
    &--watch {
      padding: 4px 0;
      color: #5159b6;
      background: #f8fafd;
      border: 1px solid #dfdfe5;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
      border-radius: 4px;
    }
    &--draft {
      padding: 4px 0;
      font-weight: $bold;
      background: #55c77c;
      box-shadow: 0 7px 9px -4px rgba(85, 199, 124, 0.62);
      border-radius: 3px;
      &.disabled {
        color: #afb1bf;
        background: #dfdfe5;
        box-shadow: 0 7px 9px -4px rgba(223, 223, 229, 0.62);
        border-radius: 3px;
      }
    }
    &--acted {
      font-weight: $bold;
      color: #ffffff;
      background: #333589;
      box-shadow: 0 7px 9px -4px rgba(51, 53, 137, 0.21);
      border-radius: 3px;
    }
  }
}

.table-buttons {
  padding: 30px;
}

.column-filters {
  .btn--filters {
    font-size: 13px;
    color: #5f6c84;
    background: #e4e7f5;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;

    > span {
      margin-right: 15px;
    }
  }
  .more-dropdown {
    top: 43px;
    width: 250px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 3px solid #2b2c78;
    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      border: 10px solid #2b2c78;
      border-top: 10px solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      top: -20px;
      right: 60px;
    }
    .title {
      font-size: 17px;
      font-weight: $bold;
      color: #3d397b;
      .clear-filters {
        font-size: 12px;
        font-weight: normal;
        color: #606380;
        @include flexbox();
        @include align-items(center);
        > i {
          color: #2b2b75;
          font-size: 14px;
          margin-left: 10px;
        }
      }
    }
    .search-tab {
      border-bottom: none;
      margin-bottom: 0;
    }
    .btn-wrap {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      padding: 10px 30px;
      background: white;
      box-shadow: 0 -2px 10px 0 rgba(82, 92, 215, 0.15);
      margin: 0;
      .btn {
        width: calc(50% - 5px);
        &-done {
          font-size: 13px;
          font-weight: $bold;
          color: #b2e7f4;
          background: #333589;
          box-shadow: 0 7px 15px -4px rgba(0, 0, 0, 0.3),
            0 12px 20px -16px rgba(158, 117, 255, 0.15);
          border-radius: 3px;
        }
        &-cancel {
          background: #f8fafd;
          border: 1px solid #dfdfe5;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
          border-radius: 4px;
        }
      }
    }
    .additional-filters-wrap {
      height: 270px;
      .additional-filters {
        max-height: 218px;
      }
    }
  }
}

.text-red {
  color: #ff4b5e !important;
}
.text-warning {
  color: #f8c363 !important;
}
