.dashboard-main {
  @include respond-to(1250px) {
    padding: 20px;
  }
}
.nav-bar {
  .nav-items {
    @include respond-to(1250px) {
      padding: 8px 10px;
    }
  }
}
.matchup-standings {
  .check-button-text {
    min-width: 150px;
  }
}
.league-standings-main {
  .graph-card {
    padding: 20px 0 !important;
    &.card {
      position: relative;
      padding: 20px 30px;
      border-radius: 11px;
      overflow: hidden;
      .card-text {
        position: absolute;
        width: 152px;
        height: 38px;
        top: 0;
        left: 0;
        background: #efeef8;
        border-radius: 11px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 13px;
        font-weight: $bold;
        color: #606380;
        line-height: 38px;
        text-align: center;
      }
      .legends {
        padding: 10px 20px;
        &:not(:last-child) {
          border-bottom: 1px solid #e7e7ef;
          @include respond-to(1250px) {
            border-bottom: none !important;
            border-right: 1px solid #e7e7ef;
          }
        }
        @include respond-to(1250px) {
          padding: 10px;
          width: calc(100% / 3);
          div {
            &:first-child {
              order: 2;
            }
            &:nth-child(2) {
              order: 1;
            }
            &:last-child {
              order: 3;
            }
          }
        }
        .gameweek {
          font-size: 12px;
          font-weight: $bold;
          color: #ffffff;
          text-align: center;
          line-height: 14px;
          background: #444cb4;
          border-radius: 4px;
          padding: 3px 10px;
        }
        &-text {
          font-size: 13px;
          font-weight: $bold;
          color: #606380;
          max-width: 50px;
        }
        .red {
          .legends-price {
            color: #fb295e;
          }
        }
        &-price {
          font-family: "Bebas Neue";
          font-size: 31px;
          color: #444cb4;
          letter-spacing: 0.37px;
          margin-left: 10px;
          line-height: 1;
          > span {
            font-family: "Bebas Neue";
            font-size: 20px;
            line-height: 24px;
          }
        }
      }
      .card {
        &-left {
          width: 57%;
          @include respond-to(1250px) {
            width: 100%;
            padding: 20px;
          }
          > img {
            width: 100%;
          }
        }
        &-right {
          padding: 0 20px;
          width: 43%;
          margin-left: 30px;
          @include respond-to(1250px) {
            width: 100%;
            padding: 20px;
            margin: 0;
            @include flexbox();
          }
        }
        &-holder {
          @include respond-to(1250px) {
            @include flex-wrap(wrap);
          }
        }
      }
    }
  }
  .league-standing {
    @include respond-to(1250px) {
      .card-body {
        position: relative;
        min-width: 960px;
        &-wrap {
          overflow: auto;
        }
      }
    }
    .card-body {
      &-wrap-main {
        position: relative;
        .progress {
          position: absolute;
          display: inline-block;
          width: 50%;
          height: 1px;
          top: 0;
          left: 0;
          background: #5ec37f;
          z-index: 1;
          &::after {
            content: "";
            position: absolute;
            right: 0;
            top: -4px;
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #5ac47d;
          }
        }
      }
    }
    max-height: 330px;
    .table-tbody {
      height: calc(330px - 88px);
      overflow: auto;
    }
    .league-standings {
      .last-updated {
        font-size: 13px;
        font-style: italic;
        color: #9c9fb9;
      }
      &-table {
        th:first-child {
          margin-right: -15px;
        }
        tbody {
          tr {
            &:hover {
              td {
                font-weight: $bold;
              }
            }
          }
        }
        th,
        td {
          &:first-child {
            width: 40px;
            max-width: 40px;
            text-align: right;
            display: flex;
            justify-content: flex-end;
            margin-left: 15px;
            > img {
              width: 5px;
              margin-right: 5px;
            }
          }
          &:nth-child(2) {
            width: 20%;
            max-width: 20%;
          }
          &:nth-child(3) {
            width: 20%;
            max-width: 20%;
          }
          &:nth-child(4) {
            width: 13%;
            max-width: 13%;
          }
          &:nth-child(5) {
            width: 11%;
            max-width: 11%;
          }
          &:nth-child(6) {
            width: 11%;
            max-width: 11%;
          }
          &:nth-child(7) {
            width: 6%;
            max-width: 6%;
          }
        }
        tbody {
          tr {
            td {
              font-size: 15px;
              padding: 20px;
            }
          }
        }
      }
    }
    .gameweek-title {
      text-align: center;
      .gw {
        font-size: 17px;
        font-weight: $bold;
        color: #3d397b;
      }
      .sub-text {
        font-size: 12px;
        color: #3d397b;
      }
    }
    .last-updated {
      text-align: right;
      p {
        font-style: italic;
      }
    }
    .win-wrap {
      .win {
        font-size: 9px;
        font-weight: $bold;
        color: #ffffff;
        background: #5abf7b;
        transform: skew(-15deg);
        text-align: center;
        padding: 4px 5px 2px 5px;
        margin-left: 2px;
        > span {
          display: inline-block;
          transform: skew(15deg);
        }
        &.loss {
          background: #f86364;
        }
        &.draw {
          background: #a9c7ce;
        }
      }
    }
  }
}

.league-matchup {
  .last-updated {
    text-align: right;
    p {
      font-style: italic;
    }
  }
  .gameweek-title {
    text-align: center;
    .gw {
      font-size: 17px;
      font-weight: $bold;
      color: #3d397b;
    }
    .sub-text {
      font-size: 12px;
      color: #3d397b;
    }
  }
  th,
  td {
    width: 50%;
    &:last-child {
      text-align: right;
    }
  }
  td:not(:last-child) {
    border-right: 3px solid #eeedf7;
  }
  td {
    padding-bottom: 10px;
  }
  tbody {
    tr {
      &:hover {
        .view-button {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .view-container {
    position: relative;
    .view-button {
      opacity: 0;
      visibility: hidden;
      // transition: all 0.3s ease;
      position: absolute;
      right: -46px;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      color: white;
      font-size: 11px;
      font-weight: $bold;
      text-align: center;
      line-height: 46px;
      text-transform: uppercase;
      background: #333589;
      box-shadow: 0 7px 15px -4px rgba(0, 0, 0, 0.3),
        0 12px 20px -16px rgba(158, 117, 255, 0.15);
    }
  }
  .user-image {
    width: 46px;
    height: 46px;
    border: 3px solid #cacaca;
    box-shadow: 0 5px 10px -4px rgba(82, 92, 215, 0.3);
    border-radius: 50%;
    background: #bdc7ff;
    text-align: center;
    overflow: hidden;
    margin-right: 10px;
    > img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      margin-top: 5px;
    }
    @include respond-to(1250px) {
      display: none;
    }
    &.win {
      border-color: #5abf7b;
    }
    &.loss {
      border-color: #fa6260;
    }
  }
  .team {
    font-size: 14px;
    font-weight: $bold;
  }
  .name {
    font-size: 15px;
  }
  .points {
    margin: 0 20px;
    white-space: nowrap;
    @include respond-to(1250px) {
      margin: 0 10px;
    }
  }
  .proj {
    margin-right: 5px;
    text-align: right;
    position: relative;
    .win-batch {
      position: absolute;
      top: -12px;
    }
  }
  .act-point {
    font-family: "Bebas Neue";
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.36px;
    margin-top: 10px;
  }
  .proj-points {
    font-family: "BebasNeuePro-BoldItalic";
    font-size: 16px;
    letter-spacing: 0.19px;
  }
  .flex-reverse {
    flex-direction: row-reverse;
    .proj {
      text-align: left;
      margin-right: 0;
      margin-left: 5px;
    }
    .user-image {
      margin-left: 10px;
      margin-right: 0;
    }
  }
}

table {
  .points {
    white-space: nowrap;
    .win,
    .draw,
    .loss {
      display: inline-block;
      border-bottom: 2px solid;
    }
    .draw {
      border-color: #606380;
    }
    .win {
      border-color: #5abf7b;
    }
    .loss {
      border-color: #f86364;
    }
  }
}

.loss-clr {
  color: #f86364 !important;
}
.win-clr {
  color: #5abf7b !important;
}
.draw-clr {
  color: #f4c85f !important;
}

.win-batch {
  display: inline-block;
  transform: skew(-15deg);
  padding: 0 12px;
  text-align: center;
  background: #5abf7b;
  .win-text {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    transform: skew(15deg);
    display: inline-block;
  }
}
.small {
  font-weight: normal;
}

.league-matchup-table--type2 {
  td {
    padding: 20px 10px;
    &:nth-child(2) {
      width: 40px;
      min-width: 40px;
      max-width: 40px;
      padding: 20px 0;
      text-align: center;
      font-size: 12px;
      font-weight: $bold;
    }
  }
  tr:hover {
    .view-button {
      right: -55px;
    }
  }
}

.ml-70 {
  margin-left: -70px;
}
