.player-table {
  &-wrap {
    width: 100%;
    overflow: scroll;
  }
  th,
  td {
    padding: 10px 15px;
    white-space: nowrap;
  }
  th {
    font-size: 13px;
    font-weight: $bold;
    color: #5f6c84;
    white-space: nowrap;
  }
  .w-110 {
    width: 110px !important;
  }
  td {
    font-size: 14px;
    line-height: 16px;
    color: #606380;
    &.player-name {
      font-weight: $bold;
    }
    .player-profile {
      width: 20px;
      height: 20px;
      background: #4149ac;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      .material-icons {
        color: $white;
        font-size: 14px;
        line-height: 20px;
      }
    }
    &.team-details {
      padding: 0;
      &--2 {
        .team-info {
          height: 33px;
        }
      }
    }
    .team-info {
      width: 110px;
      padding: 10px 5px;
      height: 66px;
      background: #5abf7b;
      border: 1px solid white;
      > img {
        width: 21px;
        height: 21px;
        border-radius: 50%;
        object-fit: cover;
      }
      .team-name {
        color: $white;
        font-weight: $bold;
      }
    }
  }
  .up-arrow {
    font-size: 17px;
  }
  thead {
    background: white;
    text-align: left;
    border-bottom: 1px solid #d1d1d1;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.11);
  }
  tbody {
    tr {
      border-bottom: 1px solid #d1d1d180;
      &.selected {
        background: #f3f3ff;
      }
    }
  }
  .status {
    display: inline-block;
    padding: 4px 10px;
    font-size: 10px;
    font-weight: $medium;
    text-transform: uppercase;
    border-radius: 4px;
    &--available {
      color: #5abf7b;
      background: rgba(#5abf7b, 0.3);
    }
    &--injured {
      color: #f86364;
      background: rgba(#f86364, 0.3);
    }
    &--suspended {
      color: #42526e;
      background: rgba(#ebecf0, 0.3);
    }
    &--doubtful {
      color: #d8aa00;
      background: rgba(#ffe93c, 0.3);
    }
  }
  th,
  td {
    &:first-child {
      // position: absolute;
      width: 50px;
      top: auto;
      left: 0;
    }
    &:nth-child(2) {
      // position: absolute;
      width: 50px;
      top: auto;
      left: 50px;
    }
    &:nth-child(3) {
      // position: absolute;
      width: 46px;
      top: auto;
      left: 100px;
    }
    &:nth-child(4) {
      // position: absolute;
      width: 150px;
      top: auto;
      left: 146px;
    }
    &:nth-child(5) {
      // position: absolute;
      width: 46px;
      top: auto;
      left: 296px;
    }
  }
}

.table {
  &-left {
    position: absolute;
  }
  &-right {
    width: calc(100% - 353px);
    margin-left: 353px;
    overflow: scroll;
  }
}

.more {
  position: relative;
  .search-wrap {
    width: 100%;
    padding: 10px 10px 5px 10px;
    .custom-search {
      width: 100%;
      background: white url("/src/assets/img/search-icon.svg") no-repeat center
        right 10px;
      border: 0;
      padding-right: 30px;
    }
  }
  .additional-filters-wrap {
    padding: 0px 30px 20px 30px;
  }
  .more-dropdown {
    &.open {
      display: block;
    }
    display: none;
    position: absolute;
    z-index: 10;
    top: 30px;
    background: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.27);
    border-radius: 7px;
    width: 260px;
    .clear-filters {
      font-size: 14px;
      color: #4c53c0;
      line-height: 24px;
      cursor: pointer;
      margin-bottom: 5px;
      display: inline-block;
    }
    .additional-filters {
      .head {
        font-size: 14px;
        color: #172c4e;
        line-height: 24px;
        font-weight: bold;
        margin-bottom: 5px;
      }
    }
  }
}
