.comparison {
  //   width: calc(100% - 300px);
  margin: 0 -15px;
  .progress-card {
    width: 100%;
  }
  .progress-card_title {
    width: 30%;
    text-align: center;
  }
  .prog {
    width: 35%;
    &-right {
      .progress-bar {
        right: 0;
        left: initial;
      }
    }
  }
  .player-names-holder {
    padding: 15px 35px;
    .dot {
      width: 22px;
      height: 22px;
      display: inline-block;
      vertical-align: middle;
      border-radius: 50%;
      border: 3px solid $white;
      background: #444cb3;
    }
    .player-name {
      margin-left: 7px;
      display: inline-block;
      font-size: 13px;
      font-weight: $bold;
      color: #606380;
      line-height: 14px;
    }
    .opponent {
      .dot {
        margin-left: 7px;
        background: #fb295e;
      }
    }
  }
  .player-total-points {
    .total-points {
      display: inline-block;
      margin: 0 20px;
      font-size: 13px;
      font-weight: $bold;
      color: #606380;
      line-height: 14px;
    }
    .rank {
      display: inline-block;
      margin-right: 5px;
      font-size: 13px;
      color: #606380;
      line-height: 11px;
    }
    .points {
      font-family: "Bebas Neue";
      font-size: 26px;
      color: #606380;
      line-height: 26.14px;
    }
    .opponent {
      .rank {
        margin-left: 5px;
      }
    }
  }
  .card {
    &.last-three {
      margin-top: 30px;
    }
    &__header {
      position: relative;
      padding: 10px 20px;
      background: #ffffff;
      box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.05);
      border-radius: 3px 3px 0 0;
    }
    .gameweek {
      font-size: 12px;
      color: #606380;
    }
    .card-info {
      > img:not(:last-child) {
        margin-right: -7px;
      }
    }
    .stat-card {
      padding: 15px;
      background: #f7f7fa;
      box-shadow: inset 0 -1px 0 0 rgba(82, 92, 215, 0.27);
      height: 110px;
      &--green {
        background: rgba(86, 192, 121, 0.11);
        box-shadow: inset 0 -1px 0 0 #56c079;
        .projected-points {
          .points {
            font-size: 28px;
            color: #606380;
            letter-spacing: 0.34px;
            line-height: 24px;
          }
        }
      }
    }
    .stats-comparison-wrapper {
      .stats-comparison {
        width: calc(100% / 2 - 5px);
        background: #f7f7fa;
      }
    }
    .stats-comparison {
      &.opponent {
        .stat-main {
          flex-direction: row-reverse;
        }
        .projected-points {
          text-align: left;
        }
        .team-info {
          flex-direction: row-reverse;
          .team-name {
            margin-left: 0;
            margin-right: 10px;
          }
        }
        .stat-card__header {
          flex-direction: row-reverse;
        }
      }
    }
    .team-info {
      .team-logo {
        width: 39px;
        height: 39px;
        border-radius: 50%;
        object-fit: cover;
      }
      .mt-13 {
        margin-top: 13px;
      }
      .team-name {
        font-size: 15px;
        font-weight: $bold;
        color: #606380;
      }
      .rank {
        font-size: 12px;
        color: #606380;
        line-height: 10px;
        margin: 0 10px;
      }
      .results {
        font-size: 14px;
        color: #606380;
      }
    }
    .projected-points {
      text-align: right;
      .points {
        font-family: "Bebas Neue";
        font-size: 30px;
        color: rgba(#606380, 0.8);
        letter-spacing: 0.6px;
        line-height: 24px;
        span {
          font-family: "Bebas Neue";
          font-size: 16px;
          color: #afb1bf;
          letter-spacing: 0.32px;
          line-height: 24px;
        }
      }
      .proj-text {
        font-size: 12px;
        color: #606380;
      }
      .proj-points {
        font-family: "Bebas Neue";
        font-size: 18px;
        color: #606380;
        letter-spacing: 0.22px;
        line-height: 24px;
      }
    }
  }
  .graph-card {
    position: relative;
    padding: 20px 30px;
    border-radius: 11px;
    overflow: hidden;
    > img {
      width: 100%;
    }
    .card-text {
      position: absolute;
      width: 152px;
      height: 38px;
      top: 0;
      left: 0;
      background: #efeef8;
      border-radius: 11px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      font-size: 13px;
      font-weight: 700;
      color: #606380;
      line-height: 38px;
      text-align: center;
    }
  }
}

.news-aside {
  background: $white;
  padding: 0 15px;
  .title {
    font-size: 13px;
    font-weight: $bold;
    color: #606380;
    line-height: 29px;
    background: rgba(#e8e7f3, 0.46);
    border-radius: 9px;
    padding: 10px 15px;
  }
  .club {
    &-history {
      margin-top: 100px;
      height: calc(100% - 100px);
    }
    &-wrap {
      height: calc(100% - 50px);
      overflow: auto;
      padding: 0 15px;
    }
    &-details {
      padding: 15px 0;
      border-bottom: 1px solid rgba(#979797, 0.28);
      .date-year {
        font-size: 12px;
        color: #afb1bf;
        width: 60px;
        margin-right: 15px;
      }
      .club-name {
        font-size: 13px;
        font-weight: $bold;
        color: #606380;
        line-height: 29px;
      }
    }
  }
}

.news-wrapper {
  display: block;
  height: calc(100% - 65px);
  overflow: auto;
  .news-card {
    background: #ffffff;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    margin-bottom: 25px;
    max-height: 78px;
    transition: all 0.3s ease;
    overflow: hidden;
    &.open {
      max-height: initial;
      .open-preview {
        transform: rotate(180deg);
      }
    }
    &__header {
      height: 78px;
      padding: 15px;
      border-bottom: 1px solid rgba(#979797, 0.28);
    }
    .news {
      &-date {
        font-size: 13px;
        font-weight: $bold;
        color: #606380;
        line-height: 29px;
      }
      &-title {
        font-size: 17px;
        font-weight: $bold;
        color: #606380;
        letter-spacing: 0;
      }
      &-content {
        padding: 15px;
        &__title {
          font-size: 13px;
          font-weight: $bold;
          color: #606380;
          line-height: 29px;
          margin-bottom: 5px;
          text-transform: uppercase;
        }
      }
      &-text {
        font-size: 13px;
        color: #6b6f8c;
        line-height: 19px;
        margin-bottom: 5px;
      }
    }
  }
}
.player-picker {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 12px -4px rgba(82, 92, 215, 0.3);
  border-radius: 3px;
  &__header {
    padding: 25px 15px;
    .title {
      font-size: 13px;
      font-weight: $bold;
      color: #606380;
      line-height: 14px;
    }
  }
  .select-options {
    cursor: pointer;
    padding-right: 30px;
    background: transparent
      url("/src/assets/img/player-popout/select-background.svg") right center
      no-repeat;
    .label {
      font-size: 11px;
      color: #afb1bf;
      line-height: 24px;
    }
    .select-btn {
      font-size: 13px;
      color: #2b2c78;
    }
    .material-icons {
      color: #2b2c78;
      margin-left: 5px;
      font-size: 16px;
      position: relative;
      top: 1px;
      cursor: pointer;
    }
  }
  .search-wrap {
    input {
      width: 100%;
      background: #eeebf4;
      border-radius: 6px;
      border: none;
      padding: 3px 15px;
      font-family: Roboto-Regular;
      font-size: 13px;
      color: #afb1bf;
      line-height: 24px;
      background: #eeebf4 url("/src/assets/img/player-popout/search-icon.svg")
        right 20px center no-repeat;
    }
  }
  .player-card {
    &-wrap {
      height: calc(100% - 30px);
      overflow: auto;
    }
    padding: 10px 15px;
    background: #ffffff;
    box-shadow: inset 0 -1px 0 0 rgba(82, 92, 215, 0.27);
    .player {
      &-image {
        // width: 41px;
        // height: 45px;
        // object-fit: cover;
      }
      &-details {
        margin-left: 10px;
      }
      &-name {
        font-size: 16px;
        color: #5b5b60;
        line-height: 16px;
        margin-bottom: 5px;
      }
      &-position {
        font-size: 12px;
        color: rgba(#606380, 0.5);
        line-height: 10px;
      }
    }
  }
}
