@import "../helpers/variable.scss";
@import "../helpers/mixins.scss";

.profile {
  padding: 20px 40px;
  &-section {
    &__left {
      width: calc(70% - 10px);
      .profile-card {
        width: calc(35% - 5px);
        height: 420px;
        background: url(/src/assets/img/profile/profile-card-bg.svg) no-repeat,
          linear-gradient(180deg, #2f3180 0%, #4349b1 82%, #525cd7 100%);
        box-shadow: 0 5px 12px -4px rgba(82, 92, 215, 0.3);
        border-radius: 12px;
        position: relative;
        .profile {
          &-image {
            width: 106px;
            height: 106px;
            background: #bdc7ff;
            border-radius: 50%;
            position: relative;
            margin: 0 auto;
            margin-top: 80px;
            > img {
              position: absolute;
              bottom: 0;
              width: 100%;
              height: calc(100% + 5px);
              border-radius: 50%;
            }
          }
          &-name {
            font-family: "Bebas Neue";
            font-size: 20px;
            color: #ffffff;
            text-align: center;
          }
          &-ageing {
            font-size: 14px;
            font-weight: $bold;
            color: #e8e9f8;
            text-align: center;
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 30px;
          }
        }
        .btn-profile-pic {
          display: block;
          margin: 0 auto;
        }
      }
      .notification-card {
        width: 65%;
        height: 420px;
        .table-tbody {
          height: calc(420px - 80px);
          overflow: auto;
          td {
            height: 67px;
          }
        }
        .noti-table {
          th,
          td {
            &:first-child {
              width: 80%;
              min-width: 80%;
            }
            &:nth-child(2) {
              width: 85px;
              min-width: 85px;
              text-align: center;
            }
            &:last-child {
              width: 85px;
              min-width: 85px;
              text-align: center;
            }
          }
          .circle-checkbox {
            input[type="checkbox"] {
              display: none;
            }
            .checkbox {
              &-custom {
                cursor: pointer;
              }
              &-icon {
                width: 22px;
                height: 22px;
                border-radius: 50%;
                background: #dadada;
                box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.22);
                > i {
                  color: white;
                  font-size: 18px;
                  font-weight: bold;
                  margin-top: 2px;
                  display: none;
                }
              }
            }
            input:checked + .checkbox-custom .checkbox-icon {
              background: #fb295e;
              > i {
                display: block;
              }
            }
          }
        }
        &.view-notifications {
          .circle-checkbox {
            pointer-events: none;
          }
        }
      }
      .profile-details-card {
        padding: 30px;
        .w-100 {
          width: 100%;
        }
        .no-bottom {
          .info-wrap {
            margin-bottom: 0;
          }
        }
        .info-wrap {
          width: calc(100% / 3 - 10px);
          border-bottom: 1px solid rgba(#d8d8d8, 0.8);
          margin-bottom: 20px;
          .label {
            font-size: 13px;
            font-weight: $bold;
            color: #525cd7;
            margin-bottom: 5px;
          }
          .value {
            font-size: 15px;
            font-weight: $bold;
            color: #2f3180;
            margin-bottom: 5px;
          }
          &.no-border {
            border-bottom: 0;
          }
        }
        &--edit {
          .info-wrap {
            border-bottom: 0 !important;
            .profile-edit {
              -webkit-appearance: none;
              height: 24px;
              background: $white;
              font-size: 15px;
              font-weight: $bold;
              color: #2f3180;
              width: 100%;
              border: 1px solid #2f3180;
              border-radius: 4px;
              padding-left: 5px;
              &--select {
                background: white url(/src/assets/img/profile/select-arrow.svg)
                  right 10px center no-repeat;
                &.month {
                  width: 85px;
                  margin-right: 7px;
                }
                &.date {
                  width: 50px;
                  margin-right: 7px;
                }
                &.year {
                  width: 72px;
                }
              }
            }
          }
        }
      }
    }
    &__right {
      width: calc(30% - 10px);
      .card {
        height: 235px;
      }
      .league-card {
        .table-tbody {
          height: calc(235px - 80px);
          overflow: auto;
        }
        .history-table {
          td:last-child,
          th:last-child {
            width: 80px;
            min-width: 80px;
          }
          .rank {
            font-family: "Bebas Neue";
            font-size: 16px;
            > span {
              font-family: "Bebas Neue";
              font-size: 13px;
            }
          }
        }
      }
      .manager-card {
        .legend-value {
          padding: 20px;
          .value {
            font-family: "Bebas Neue";
            font-size: 42px;
            > span {
              font-family: "Bebas Neue";
              font-size: 20px;
            }
          }
          .color {
            width: 17px;
            height: 6px;
            background: linear-gradient(90deg, #5db2e2 0%, #5be8d1 100%);
            border-radius: 3px;
          }
          .legend-name {
            font-size: 12px;
            color: #2f3180;
            @include flex-grow(1);
            margin-right: 20px;
          }
        }
        .rank-progress {
          width: calc(100% - 40px);
          height: 3px;
          border-radius: 3px;
          background: #ececec;
          margin: 0 20px;
          position: relative;
          .progress {
            position: absolute;
            top: -2px;
            left: 0;
            height: 8px;
            width: 160px;
            background: linear-gradient(270deg, #5be6d2 5%, #5db6e1 76%);
            border-radius: 3px;
            &::after {
              content: "";
              position: absolute;
              right: 0;
              top: -8px;
              width: 17px;
              height: 22px;
              background: #5be5d2;
              box-shadow: 0 3px 4px 0 rgba(57, 168, 153, 0.72);
              border-radius: 8.5px;
            }
          }
          .you {
            position: absolute;
            left: 80px;
            top: -12px;
            width: 7px;
            height: 30px;
            background: #2f3180;
            border-radius: 3.5px;
          }
          &.points-progress {
            .progress {
              background: #fb295e;
              border-radius: 3px;
              &::after {
                background: #fb295e;
                box-shadow: 0 4px 4px 0 rgba(251, 41, 94, 0.35);
              }
            }
          }
        }
        .legend-text {
          padding: 30px 20px;
          .text {
            font-family: "Bebas Neue";
            font-size: 16px;
            color: #69c48c;
            &.draw {
              color: #606380;
            }
            &.loss {
              color: #f86364;
            }
          }
        }
      }
    }
  }
}

.referrals {
  .card--blue {
    height: 380px;
    background: #2b2972 url(/src/assets/img/profile/referral-card.svg) top right
      no-repeat;
    box-shadow: 0 5px 12px -4px rgba(82, 92, 215, 0.3);
    border-radius: 12px;
    padding: 40px;
    .card-left-section {
      max-width: 55%;
    }
    .league-card {
      background: #333589;
      box-shadow: 0 7px 15px -4px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      padding: 10px 20px 20px;
      margin-top: 40px;
      .league {
        font-size: 11px;
        color: rgba(#afb1bf, 0.4);
        margin-bottom: 5px;
        &-name {
          font-size: 18px;
          color: #ffffff;
        }
      }
      .inuse {
        font-size: 11px;
        color: rgba(#ffffff, 0.8);
      }
      .club-images {
        > img {
          width: 16px;
          &:not(:last-child) {
            margin-right: -8px;
          }
        }
      }
    }
    .invite-card {
      padding: 20px;
      background: #343379;
      border-radius: 4px;
      margin-top: 15px;
      .invite-text {
        font-size: 15px;
        font-weight: $bold;
        color: #ffffff;
      }
      .btn {
        font-size: 13px;
        font-weight: $bold;
        color: #ffffff;
        background: #5abf7b;
        box-shadow: 0 7px 15px -4px rgba(0, 0, 0, 0.3),
          0 12px 20px -16px rgba(158, 117, 255, 0.15);
        border-radius: 3px;
      }
    }
    .card-right-section {
      width: 45%;
      .circle-holder {
        position: relative;
        display: block;
        margin: 0 auto;
        svg {
          display: block;
          margin: 0 auto;
        }
        .counter {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: "Bebas Neue";
          font-size: 78px;
          line-height: 78px;
          color: #56c079;
          margin-top: 5px;
        }
      }
      .success-text {
        font-size: 16px;
        color: #999bbf;
        text-align: center;
        max-width: 235px;
        margin: 0 auto;
        margin-top: 30px;
        > span {
          color: $white;
          font-weight: $bold;
        }
      }
    }
    .note-text {
      font-size: 16px;
      color: #999bbf;
      line-height: 24px;
      margin-bottom: 15px;
    }
    .highlight {
      font-size: 16px;
      font-weight: $bold;
      color: white;
    }
  }

  .referrals-right {
    height: 760px;
    width: calc(30% - 17px);
    background: url(/src/assets/img/profile/referral-right.svg);
    box-shadow: 0 5px 12px -4px rgba(82, 92, 215, 0.3);
    border-radius: 12px;
    position: relative;
    .rescue {
      position: absolute;
      top: 530px;
      left: 0;
      width: 200px;
      .bold {
        font-family: "Bebas Neue";
        font-size: 29px;
        color: #000000;
        letter-spacing: 1.78px;
        text-align: right;
        line-height: 22px;
      }
      .normal {
        font-family: "Bebas Neue";
        font-size: 21px;
        color: #000000;
        text-align: right;
        text-transform: uppercase;
        line-height: 22px;
      }
    }
  }
}

.main-circle .circle:nth-child(2) {
  stroke: #56c079;
}
.main-circle .circle:nth-child(4) {
  stroke: #56c079;
}
.main-circle .circle:nth-child(6) {
  stroke: #56c079;
}

.main-circle .circle:nth-child(8) {
  stroke: #56c079;
}
.main-circle .circle:nth-child(10) {
  stroke: #56c079;
}

.modal--profile-update {
  .modal-holder {
    width: 625px;
    height: 475px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2a276f url(/src/assets/img/profile/profile-selection-bg.svg)
      right top 20px no-repeat;
    box-shadow: 0 5px 10px 0 rgba(42, 39, 111, 0.19);
    border-radius: 16px;
    padding: 15px 35px;
    .options-wrap {
      .match-selection {
        background: #4b4296;
      }
      .check-button-text {
        min-width: 82px;
        background: #4b4296;
        transition: none;
      }
      input:checked + .check-button-text {
        color: white;
        font-weight: bold;
        background: #fb295e url(/src/assets/img/profile/button-bg.svg) right top
          no-repeat;
        box-shadow: 0 5px 12px -4px rgba(45, 47, 69, 0.54);
        border-radius: 3px;
      }
    }
    .modal-title {
      font-family: "Bebas Neue";
      font-size: 36px;
      font-weight: normal;
      color: #ffffff;
      text-align: center;
    }
    .modal-top-section {
      align-items: flex-end;
      margin-top: -20px;
    }
    .profile {
      &-image {
        width: 106px;
        height: 106px;
        background: #bdc7ff;
        border-radius: 50%;
        position: relative;
        > img {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: calc(100% + 5px);
          border-radius: 50%;
        }
      }
      &-name {
        font-family: "Bebas Neue";
        font-size: 24px;
        color: #ffffff;
      }
      &-holder {
        background: white;
        height: 200px;
        margin-top: 15px;
        overflow: auto;
        background: rgba(#4b4296, 0.82);
        box-shadow: 0 5px 12px -4px rgba(82, 92, 215, 0.3);
        border-radius: 10px;
        .player-card {
          width: calc(100% / 4);
          min-width: calc(100% / 4);
          height: 100%;
          padding: 25px;
          color: white;
          border-right: 1px solid rgba(151, 151, 151, 0.28);
          &.selected {
            background: #fb295e url(/src/assets/img/profile/profile-bg.svg) left
              center no-repeat;
            box-shadow: 0 15px 30px 0 #1a184f;
          }
          .text-small {
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            margin-top: 5px;
          }
          .text-large {
            text-align: center;
            font-family: "Bebas Neue";
            font-size: 30px;
            margin-top: 20px;
          }
        }
        .player-image {
          width: 82px;
          height: 82px;
          border-radius: 50%;
          background: #2a266e;
          position: relative;
          margin: 0 auto;
          &.empty-player {
            > img {
              border-radius: 0;
            }
          }
          > img {
            position: absolute;
            bottom: 0;
            border-radius: 50%;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}

.info-wrap.error {
  .label {
    color: #fb295e !important;
    &::after {
      content: "!";
      margin-left: 5px;
      color: #fb295e;
    }
  }
}
.card--referral {
  height: 355px;
  .card-body {
    height: 305px;
    overflow: auto;
  }
  .card-header {
    padding: 0;
    .head-title {
      padding: 10px 20px;
      &:first-child {
        width: 40%;
      }
      &:nth-child(2) {
        width: 20%;
      }
      &:nth-child(3) {
        width: 20%;
      }
      &:last-child {
        width: 20%;
      }
    }
  }
  .noti-table {
    td {
      &:first-child {
        width: 40%;
        min-width: 40%;
      }
      &:nth-child(2) {
        width: 20%;
        min-width: 20%;
      }
      &:nth-child(3) {
        width: 20%;
        min-width: 20%;
      }
      &:last-child {
        width: 20%;
        min-width: 20%;
      }
    }
  }
}
