.d-flex {
  @include flexbox();
}
.d-flex-center {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
}
.d-flex-v-center {
  @include flexbox();
  @include align-items(center);
}
.d-flex-space-center {
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);
}
.align-top {
  @include align-items(flex-start);
}
.m-auto {
  margin: 0 auto;
}
.ml-auto {
  margin-left: auto;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-30 {
  margin-right: 30px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.text-center {
  text-align: center;
}

.more {
  &-icon {
    &.material-icons {
      font-size: 16px;
      font-weight: 600;
      color: #0053cc;
    }
  }
  &-text {
    font-size: 16px;
    color: #0053cc;
    line-height: 24px;
  }
}

.close-icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #cecece;
  display: inline-block;
  text-align: center;
  > .material-icons {
    color: $white;
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
  }
}

.main {
  width: 100vw;
  min-height: 100vh;
  background: $white;
}
.right-section {
  position: relative;
  width: calc(100vw - 100px);
  margin-left: 100px;
  min-height: 100vh;
  // overflow: hidden;
}

.navbar {
  padding: 23px 55px;
  &__list {
    &-item {
      font-size: 13px;
      line-height: 24px;
      color: #afb1bf;
      padding: 8px 16px;
      &.active {
        color: #b2e7f4;
        font-weight: $bold;
        background: #333589;
        box-shadow: 0 7px 15px -4px rgba(0, 0, 0, 0.3),
          0 12px 20px -16px rgba(158, 117, 255, 0.15);
        border-radius: 3px;
      }
    }
  }
}

.filters-wrap {
  padding: 11px 55px;
}

.stats-type {
  padding: 2px;
  background: rgba(#d9d9d9, 0.5);
  border-radius: 6px;
  &__item {
    font-size: 14px;
    line-height: 24px;
    color: #5f6c84;
    padding: 0px 10px;
    border-radius: 6px;
    cursor: pointer;
    &.active {
      color: $white;
      background: #4c53c0;
    }
  }
}

.showing-text {
  color: #5f6c83;
  font-size: 13px;
  line-height: 24px;
  .start,
  .end {
    font-weight: $bold;
  }
}
