%primary-font {
  font-family: "Roboto", sans-serif;
}
%secondary-font {
  font-family: "Roboto", sans-serif;
}

%italic {
  font-family: "Bebas Neue italic";
}

@font-face {
  font-family: "bebas_neueregular";
  src: url("./webFonts/BebasNeue/bebasneueregular-webfont.woff2")
      format("woff2"),
    url("./webFonts/BebasNeue/bebasneueregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("./webFonts/BebasNeue/bebasneue-bold-webfont.woff2") format("woff2"),
    url("./webFonts/BebasNeue/bebasneue-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue italic";
  src: url("./fonts/font.woff2") format("woff2"),
    url(".fonts/font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

%left {
  float: left;
}
%right {
  float: right;
}

%v-align {
  display: inline-block;
  vertical-align: middle;
}

%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
%inline-flexbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -moz-inline-box;
  display: inline-flex;
}
